In [4]:
#Basic libraries
import pandas as pd
import numpy as np 
import numpy as np

#Vizualization Tools
import matplotlib.pyplot as plt
import seaborn as sns

#Modeling Tools
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import statsmodels.api as sm

from datetime import date

import sklearn.preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler


import warnings
warnings.filterwarnings("ignore")

#Custom functions
from env import host, user, password #Database credentials
import wrangle3

In [7]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test= wrangle3.wrangle()

In [10]:
train.shape

(36384, 32)

In [12]:
X_train.shape

(36384, 31)

In [21]:
train.head()

,Unnamed: 0,parcelid,logerror,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,...,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,baseline
21580,0.411510,0.003239,-0.015033,0.333333,0.500000,0.172850,0.000000,0.829634,0.731775,0.008825,...,0.008825,0.285714,0.444444,0.036283,0.222222,0.002314,0.111111,0.196429,0.0,0.0
32781,0.625102,0.023724,0.158456,0.833333,0.833333,0.741252,0.297297,0.177142,0.856593,0.031010,...,0.031010,0.571429,1.000000,0.145710,0.666667,0.023194,0.333333,0.285714,0.0,0.0
33161,0.632349,0.009811,-0.017737,0.166667,0.333333,0.149452,0.000000,0.424826,0.618331,0.006149,...,0.006149,0.142857,0.444444,0.033854,0.111111,0.032729,0.444444,0.166667,1.0,0.0
45785,0.873076,0.008977,0.066846,0.333333,0.500000,0.254743,0.000000,0.560745,0.660422,0.012727,...,0.012727,0.285714,0.666667,0.080347,0.444444,0.034484,0.444444,0.196429,0.0,0.0
45820,0.873744,0.023348,-0.022133,0.333333,0.500000,0.166421,0.297297,0.248617,0.828507,0.007558,...,0.007558,0.142857,0.444444,0.049725,0.222222,0.019449,0.333333,0.196429,0.0,0.0

In [26]:
X_train.baseline.value_counts()

0.017913    36384
Name: baseline, dtype: int64

In [27]:
train.baseline.value_counts()

0.0    36384
Name: baseline, dtype: int64

In [20]:
X_train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,...,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,baseline
21580,21580,11204960,3.0,4.0,2000.0,6037.0,34561695.0,-118082751.0,6999.0,40227.0,...,0.160675,0.2,0.4,52.438500,0.2,3.745249,0.1,0.750000,0,0.017913
32781,32781,14323862,6.0,6.0,7393.0,6059.0,33601524.0,-117845231.0,24000.0,40009.0,...,0.550964,0.4,0.9,210.471527,0.6,37.246958,0.3,1.000000,0,0.017913
33161,33161,12205584,2.0,3.0,1778.0,6037.0,33966002.0,-118298627.0,4948.0,12447.0,...,0.113590,0.1,0.4,48.931384,0.1,52.546483,0.4,0.666667,1,0.017913
45785,45785,12078527,3.0,4.0,2777.0,6037.0,34166013.0,-118218530.0,9989.0,45457.0,...,0.229316,0.2,0.6,116.075621,0.4,55.362198,0.4,0.750000,0,0.017913
45820,45820,14266520,3.0,4.0,1939.0,6059.0,33706702.0,-117898677.0,6028.0,47568.0,...,0.138384,0.1,0.4,71.851986,0.2,31.237890,0.3,0.750000,0,0.017913

In [18]:
train.columns
# likely look to remove Unamed: 0, parcelid, fips (maybe keep for hue), regioncity, regionidzipm

Index(['Unnamed: 0', 'parcelid', 'logerror', 'bathroomcnt', 'bedroomcnt',
       'calculatedfinishedsquarefeet', 'fips', 'latitude', 'longitude',
       'lotsizesquarefeet', 'regionidcity', 'regionidcounty', 'regionidzip',
       'yearbuilt', 'structuretaxvaluedollarcnt', 'taxvaluedollarcnt',
       'landtaxvaluedollarcnt', 'taxamount', 'county', 'age', 'age_bin',
       'taxrate', 'acres', 'acres_bin', 'sqft_bin',
       'structure_dollar_per_sqft', 'structure_dollar_sqft_bin',
       'land_dollar_per_sqft', 'lot_dollar_sqft_bin', 'bath_bed_ratio', 'cola',
       'baseline'],
      dtype='object')

### - Exploration: the interaction between independent variables and the target variable is explored using visualization and statistical testing
### - Exploration: Clustering is used to explore the data. A conclusion, supported by statistical testing and visualization, is drawn on whether or not the clusters are helpful/useful. At least 3 combinations of features for clustering should be tried.
### - Modeling: At least 4 different models are created and their performance is compared. One model is the distinct combination of algorithm, hyperparameters, and features.

### Goals: 01/05/21

- Log error vizual of data
- Geographical mapping of lat, long (research)
- correlation map
    - follow with an idea of statistical tests to use
- elbow method / k 
- Preliminary modeling


features = lat, long, age, bath_bed ratio, lotsizesquarefeet or area,