In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import env
import eval_model
import wrangle3


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')


pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)
pd.set_option('display.float_format', lambda x: '%.5f' % x)



import gmaps
import gmaps.datasets

gmaps.configure(api_key="AIzaSyDlW6BYId6BmIp-mmA_lY_xNiQOKabd-2Q")


#Modeling Tools
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import statsmodels.api as sm
from statsmodels.formula.api import ols

from datetime import date
from scipy import stats



## Evaluation tools
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

In [2]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle3.wrangle()

In [3]:
X_train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_1250_to_1650,size_cluster_1300_to_2000,size_cluster_1500_to_1900,size_cluster_1500_to_2800,size_cluster_2300_to_4400,size_cluster_2900_to_4000,size_cluster_900_to_1200,price_cluster_144000_to_355000,price_cluster_34000_to_110000,price_cluster_420000_to_870000,price_cluster_45000_to_173000,price_cluster_69000_to_210000,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000,logerror
21580,21580,11204960,3.00000,4.00000,2000.00000,6037.00000,34.56170,-118.08275,6999.00000,40227.00000,3101.00000,97328.00000,1987.00000,104877.00000,131090.00000,26213.00000,2623.93000,Los_Angeles,30.00000,0.20000,2.00162,0.16067,0.20000,0.40000,52.43850,0.20000,3.74525,0.10000,0.75000,0,"(-0.05, 0.05]",0.01791,0.82963,0.73177,0.33333,0.20338,0.50000,0.00883,0.21324,0.00883,0.19643,0.17285,palmdale_landcaster,1500_to_2800,69000_to_210000,1000_to_3000,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,-0.01503
32781,32781,14323862,6.00000,6.00000,7393.00000,6059.00000,33.60152,-117.84523,24000.00000,40009.00000,1286.00000,96975.00000,1995.00000,1556016.00000,2449943.00000,893927.00000,29921.84000,Orange,22.00000,0.20000,1.22133,0.55096,0.40000,0.90000,210.47153,0.60000,37.24696,0.30000,1.00000,0,"(0.05, 0.2]",0.01791,0.17714,0.85659,0.83333,0.12372,0.83333,0.03101,0.15441,0.03101,0.28571,0.74125,se_coast,2900_to_4000,420000_to_870000,16000_to_22000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0.15846
33161,33161,12205584,2.00000,3.00000,1778.00000,6037.00000,33.96600,-118.29863,4948.00000,12447.00000,3101.00000,96025.00000,1936.00000,87000.00000,347000.00000,260000.00000,4248.21000,Los_Angeles,81.00000,0.60000,1.22427,0.11359,0.10000,0.40000,48.93138,0.10000,52.54648,0.40000,0.66667,1,"(-0.05, 0.05]",0.01791,0.42483,0.61833,0.16667,0.12402,0.33333,0.00615,0.58824,0.00615,0.16667,0.14945,la_older,1250_to_1650,144000_to_355000,5000_to_6000,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,-0.01774
45785,45785,12078527,3.00000,4.00000,2777.00000,6037.00000,34.16601,-118.21853,9989.00000,45457.00000,3101.00000,96327.00000,1990.00000,322342.00000,875355.00000,553013.00000,9603.39000,Los_Angeles,27.00000,0.20000,1.09709,0.22932,0.20000,0.60000,116.07562,0.40000,55.36220,0.40000,0.75000,0,"(0.05, 0.2]",0.01791,0.56074,0.66042,0.33333,0.11104,0.50000,0.01273,0.19118,0.01273,0.19643,0.25474,santa_clarita,1500_to_2800,420000_to_870000,8500_to_12000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0.06685
45820,45820,14266520,3.00000,4.00000,1939.00000,6059.00000,33.70670,-117.89868,6028.00000,47568.00000,1286.00000,97004.00000,1971.00000,139321.00000,327623.00000,188302.00000,3923.98000,Orange,46.00000,0.33300,1.19771,0.13838,0.10000,0.40000,71.85199,0.20000,31.23789,0.30000,0.75000,0,"(-0.05, 0.05]",0.01791,0.24862,0.82851,0.33333,0.12131,0.50000,0.00756,0.33088,0.00756,0.19643,0.16642,se_coast,1500_to_2800,144000_to_355000,5000_to_6000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,-0.02213

In [4]:
train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_1250_to_1650,size_cluster_1300_to_2000,size_cluster_1500_to_1900,size_cluster_1500_to_2800,size_cluster_2300_to_4400,size_cluster_2900_to_4000,size_cluster_900_to_1200,price_cluster_144000_to_355000,price_cluster_34000_to_110000,price_cluster_420000_to_870000,price_cluster_45000_to_173000,price_cluster_69000_to_210000,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000,logerror
21580,21580,11204960,3.00000,4.00000,2000.00000,6037.00000,34.56170,-118.08275,6999.00000,40227.00000,3101.00000,97328.00000,1987.00000,104877.00000,131090.00000,26213.00000,2623.93000,Los_Angeles,30.00000,0.20000,2.00162,0.16067,0.20000,0.40000,52.43850,0.20000,3.74525,0.10000,0.75000,0,"(-0.05, 0.05]",0.01791,0.82963,0.73177,0.33333,0.20338,0.50000,0.00883,0.21324,0.00883,0.19643,0.17285,palmdale_landcaster,1500_to_2800,69000_to_210000,1000_to_3000,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,-0.01503
32781,32781,14323862,6.00000,6.00000,7393.00000,6059.00000,33.60152,-117.84523,24000.00000,40009.00000,1286.00000,96975.00000,1995.00000,1556016.00000,2449943.00000,893927.00000,29921.84000,Orange,22.00000,0.20000,1.22133,0.55096,0.40000,0.90000,210.47153,0.60000,37.24696,0.30000,1.00000,0,"(0.05, 0.2]",0.01791,0.17714,0.85659,0.83333,0.12372,0.83333,0.03101,0.15441,0.03101,0.28571,0.74125,se_coast,2900_to_4000,420000_to_870000,16000_to_22000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0.15846
33161,33161,12205584,2.00000,3.00000,1778.00000,6037.00000,33.96600,-118.29863,4948.00000,12447.00000,3101.00000,96025.00000,1936.00000,87000.00000,347000.00000,260000.00000,4248.21000,Los_Angeles,81.00000,0.60000,1.22427,0.11359,0.10000,0.40000,48.93138,0.10000,52.54648,0.40000,0.66667,1,"(-0.05, 0.05]",0.01791,0.42483,0.61833,0.16667,0.12402,0.33333,0.00615,0.58824,0.00615,0.16667,0.14945,la_older,1250_to_1650,144000_to_355000,5000_to_6000,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,-0.01774
45785,45785,12078527,3.00000,4.00000,2777.00000,6037.00000,34.16601,-118.21853,9989.00000,45457.00000,3101.00000,96327.00000,1990.00000,322342.00000,875355.00000,553013.00000,9603.39000,Los_Angeles,27.00000,0.20000,1.09709,0.22932,0.20000,0.60000,116.07562,0.40000,55.36220,0.40000,0.75000,0,"(0.05, 0.2]",0.01791,0.56074,0.66042,0.33333,0.11104,0.50000,0.01273,0.19118,0.01273,0.19643,0.25474,santa_clarita,1500_to_2800,420000_to_870000,8500_to_12000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0.06685
45820,45820,14266520,3.00000,4.00000,1939.00000,6059.00000,33.70670,-117.89868,6028.00000,47568.00000,1286.00000,97004.00000,1971.00000,139321.00000,327623.00000,188302.00000,3923.98000,Orange,46.00000,0.33300,1.19771,0.13838,0.10000,0.40000,71.85199,0.20000,31.23789,0.30000,0.75000,0,"(-0.05, 0.05]",0.01791,0.24862,0.82851,0.33333,0.12131,0.50000,0.00756,0.33088,0.00756,0.19643,0.16642,se_coast,1500_to_2800,144000_to_355000,5000_to_6000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,-0.02213

## Make ols model with clusters as features

In [ ]:
X_train.dtypes

In [6]:
train.dtypes

Unnamed: 0                                int64
parcelid                                  int64
bathroomcnt                             float64
bedroomcnt                              float64
calculatedfinishedsquarefeet            float64
fips                                    float64
latitude                                float64
longitude                               float64
lotsizesquarefeet                       float64
regionidcity                            float64
regionidcounty                          float64
regionidzip                             float64
yearbuilt                               float64
structuretaxvaluedollarcnt              float64
taxvaluedollarcnt                       float64
landtaxvaluedollarcnt                   float64
taxamount                               float64
county                                   object
age                                     float64
age_bin                                 float64
taxrate                                 float64
acres                                   float64
acres_bin                               float64
sqft_bin                                float64
structure_dollar_per_sqft               float64
structure_dollar_sqft_bin               float64
land_dollar_per_sqft                    float64
lot_dollar_sqft_bin                     float64
bath_bed_ratio                          float64
cola                                      int64
logerror_bins                          category
baseline                                float64
scaled_latitude                         float64
scaled_longitude                        float64
scaled_bathroomcnt                      float64
scaled_taxrate                          float64
scaled_bedroomcnt                       float64
scaled_lotsizesquarefeet                float64
scaled_age                              float64
scaled_acres                            float64
scaled_bath_bed_ratio                   float64
scaled_calculatedfinishedsquarefeet     float64
area_cluster                             object
size_cluster                             object
price_cluster                            object
tax_cluster                              object
area_cluster_la_newer                     uint8
area_cluster_la_older                     uint8
area_cluster_northwest_costal             uint8
area_cluster_palmdale_landcaster          uint8
area_cluster_santa_clarita                uint8
area_cluster_se_coast                     uint8
size_cluster_1250_to_1650                 uint8
size_cluster_1300_to_2000                 uint8
size_cluster_1500_to_1900                 uint8
size_cluster_1500_to_2800                 uint8
size_cluster_2300_to_4400                 uint8
size_cluster_2900_to_4000                 uint8
size_cluster_900_to_1200                  uint8
price_cluster_144000_to_355000            uint8
price_cluster_34000_to_110000             uint8
price_cluster_420000_to_870000            uint8
price_cluster_45000_to_173000             uint8
price_cluster_69000_to_210000             uint8
tax_cluster_1000_to_3000                  uint8
tax_cluster_16000_to_22000                uint8
tax_cluster_30000_to_40000                uint8
tax_cluster_5000_to_6000                  uint8
tax_cluster_8500_to_12000                 uint8
logerror                                float64
dtype: object

In [7]:
# Create OLS Model using encoded clusters
model1 = ols(formula='logerror ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + size_cluster_1250_to_1650 + size_cluster_1300_to_2000 + size_cluster_1500_to_1900 + size_cluster_1500_to_2800 + size_cluster_2300_to_4400 + size_cluster_2900_to_4000 + price_cluster_69000_to_210000 + price_cluster_144000_to_355000 + price_cluster_34000_to_110000 + price_cluster_420000_to_870000 + price_cluster_45000_to_173000 + price_cluster_69000_to_210000', data=train).fit()

In [39]:
# Set up dataframes for predictions
train_predictions = pd.DataFrame(y_train.copy())
validate_predictions = pd.DataFrame(y_validate.copy())
#Rename column to actual
train_predictions.rename(columns={'logerror': 'actual'}, inplace=True)
validate_predictions.rename(columns={'logerror': 'actual'}, inplace=True)
#Add model 1 predictions

In [40]:
train_predictions['baseline_yhat']=train_predictions['actual'].mean ()

In [41]:
validate_predictions['baseline_yhat']=validate_predictions['actual'].mean()

In [43]:
train_predictions['baseline_residuals']=train_predictions.baseline_yhat-train_predictions.actual

In [46]:
validate_predictions['baseline_residuals']=validate_predictions.baseline_yhat-validate_predictions.actual

In [49]:
train_predictions['model1_yhat']=model1.predict(X_train)
validate_predictions['model1_yhat']=model1.predict(X_validate)

In [52]:
train_predictions['model1_residuals']=train_predictions.model1_yhat-train_predictions.actual

In [54]:
validate_predictions['model1_residuals']=validate_predictions.model1_yhat-validate_predictions.actual

In [59]:
#Calculate model performance
baseline_RMSE=(sqrt(mean_squared_error(train_predictions.actual,train_predictions.baseline_yhat)))

In [88]:
validate_baseline_RMSE=(sqrt(mean_squared_error(validate_predictions.actual,validate_predictions.baseline_yhat)))

In [84]:
#Calculate model performance
train_model1_RMSE=(sqrt(mean_squared_error(train_predictions.actual,train_predictions.model1_yhat)))

In [86]:
validate_model1_RMSE=(sqrt(mean_squared_error(validate_predictions.actual,validate_predictions.model1_yhat)))

In [74]:
train_baseline_r2 = (r2_score(train_predictions.actual,train_predictions.baseline_yhat))

In [78]:
validate_baseline_r2 = (r2_score(validate_predictions.actual,validate_predictions.baseline_yhat))

In [80]:
train_model1_r2 = (r2_score(train_predictions.actual,train_predictions.model1_yhat))

In [82]:
validate_model1_r2 = (r2_score(validate_predictions.actual,validate_predictions.model1_yhat))

In [90]:
# Create Model
model2 = ols(formula='logerror ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + bathroomcnt + bedroomcnt + calculatedfinishedsquarefeet + acres + age', data=train).fit()

In [95]:
train_predictions.head()

,actual,baseline_yhat,baseline_residuals,model1_yhat,model1_residuals,model2_yhat,model2_residuals
21580,-0.01503,0.01791,0.03295,0.01460,0.02964,0.01403,0.02906
32781,0.15846,0.01791,-0.14054,0.03744,-0.12102,0.06059,-0.09787
33161,-0.01774,0.01791,0.03565,0.00982,0.02755,0.00696,0.02470
45785,0.06685,0.01791,-0.04893,0.01275,-0.05410,0.01460,-0.05224
45820,-0.02213,0.01791,0.04005,0.04241,0.06454,0.03095,0.05308

In [92]:
# Make predictions
train_predictions['model2_yhat'] = model2.predict(X_train)

validate_predictions['model2_yhat'] = model2.predict(X_validate)

train_predictions['model2_residuals']=train_predictions.model2_yhat-train_predictions.actual

validate_predictions['model2_residuals']=validate_predictions.model2_yhat-validate_predictions.actual

train_model2_RMSE=(sqrt(mean_squared_error(train_predictions.actual,train_predictions.model2_yhat)))
validate_model2_RMSE=(sqrt(mean_squared_error(validate_predictions.actual,validate_predictions.model2_yhat)))

train_model2_r2 = (r2_score(train_predictions.actual,train_predictions.model2_yhat))

validate_model2_r2 = (r2_score(validate_predictions.actual,validate_predictions.model2_yhat))

In [101]:
# Create Model
model3 = ols(formula='logerror ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + taxamount + taxvaluedollarcnt + structuretaxvaluedollarcnt  + landtaxvaluedollarcnt + acres + age', data=train).fit()

In [102]:
# Make predictions
train_predictions['model3_yhat'] = model3.predict(X_train)

validate_predictions['model3_yhat'] = model3.predict(X_validate)

train_predictions['model3_residuals']=train_predictions.model3_yhat-train_predictions.actual

validate_predictions['model3_residuals']=validate_predictions.model3_yhat-validate_predictions.actual

train_model3_RMSE=(sqrt(mean_squared_error(train_predictions.actual,train_predictions.model3_yhat)))
validate_model3_RMSE=(sqrt(mean_squared_error(validate_predictions.actual,validate_predictions.model3_yhat)))

train_model3_r2 = (r2_score(train_predictions.actual,train_predictions.model3_yhat))

validate_model3_r2 = (r2_score(validate_predictions.actual,validate_predictions.model3_yhat))

print(f'train_rmse: {train_model3_RMSE}')
print(f'train_r2: {train_model3_r2}')

print(f'validate_rmse: {validate_model3_RMSE}')
print(f'validate_model3_r2: {validate_model3_r2}')

In [105]:
model4 = ols(formula='logerror ~ taxvaluedollarcnt + structuretaxvaluedollarcnt + taxvaluedollarcnt + landtaxvaluedollarcnt + acres + age', data=train).fit()

In [106]:
# Make predictions
train_predictions['model4_yhat'] = model4.predict(X_train)

validate_predictions['model4_yhat'] = model4.predict(X_validate)

train_predictions['model4_residuals']=train_predictions.model4_yhat-train_predictions.actual

validate_predictions['model4_residuals']=validate_predictions.model4_yhat-validate_predictions.actual

train_model4_RMSE=(sqrt(mean_squared_error(train_predictions.actual,train_predictions.model4_yhat)))
validate_model4_RMSE=(sqrt(mean_squared_error(validate_predictions.actual,validate_predictions.model4_yhat)))

train_model4_r2 = (r2_score(train_predictions.actual,train_predictions.model4_yhat))

validate_model4_r2 = (r2_score(validate_predictions.actual,validate_predictions.model4_yhat))

print(f'train_rmse: {train_model4_RMSE}')
print(f'train_r2: {train_model4_r2}')

print(f'validate_rmse: {validate_model4_RMSE}')
print(f'validate_model4_r2: {validate_model4_r2}')

train_rmse: 0.17465868761475795
train_r2: 0.0007612070587840192
validate_rmse: 0.17013298135699312
validate_model4_r2: 0.00020095377058571007

In [107]:
train.dtypes

Unnamed: 0                                int64
parcelid                                  int64
bathroomcnt                             float64
bedroomcnt                              float64
calculatedfinishedsquarefeet            float64
fips                                    float64
latitude                                float64
longitude                               float64
lotsizesquarefeet                       float64
regionidcity                            float64
regionidcounty                          float64
regionidzip                             float64
yearbuilt                               float64
structuretaxvaluedollarcnt              float64
taxvaluedollarcnt                       float64
landtaxvaluedollarcnt                   float64
taxamount                               float64
county                                   object
age                                     float64
age_bin                                 float64
taxrate                                 float64
acres                                   float64
acres_bin                               float64
sqft_bin                                float64
structure_dollar_per_sqft               float64
structure_dollar_sqft_bin               float64
land_dollar_per_sqft                    float64
lot_dollar_sqft_bin                     float64
bath_bed_ratio                          float64
cola                                      int64
logerror_bins                          category
baseline                                float64
scaled_latitude                         float64
scaled_longitude                        float64
scaled_bathroomcnt                      float64
scaled_taxrate                          float64
scaled_bedroomcnt                       float64
scaled_lotsizesquarefeet                float64
scaled_age                              float64
scaled_acres                            float64
scaled_bath_bed_ratio                   float64
scaled_calculatedfinishedsquarefeet     float64
area_cluster                             object
size_cluster                             object
price_cluster                            object
tax_cluster                              object
area_cluster_la_newer                     uint8
area_cluster_la_older                     uint8
area_cluster_northwest_costal             uint8
area_cluster_palmdale_landcaster          uint8
area_cluster_santa_clarita                uint8
area_cluster_se_coast                     uint8
size_cluster_1250_to_1650                 uint8
size_cluster_1300_to_2000                 uint8
size_cluster_1500_to_1900                 uint8
size_cluster_1500_to_2800                 uint8
size_cluster_2300_to_4400                 uint8
size_cluster_2900_to_4000                 uint8
size_cluster_900_to_1200                  uint8
price_cluster_144000_to_355000            uint8
price_cluster_34000_to_110000             uint8
price_cluster_420000_to_870000            uint8
price_cluster_45000_to_173000             uint8
price_cluster_69000_to_210000             uint8
tax_cluster_1000_to_3000                  uint8
tax_cluster_16000_to_22000                uint8
tax_cluster_30000_to_40000                uint8
tax_cluster_5000_to_6000                  uint8
tax_cluster_8500_to_12000                 uint8
logerror                                float64
dtype: object

In [110]:
# Create Model
model5 = ols(formula='logerror ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + size_cluster_1250_to_1650 + size_cluster_1300_to_2000 + size_cluster_1500_to_1900 + size_cluster_1500_to_2800 + size_cluster_2300_to_4400 + size_cluster_2900_to_4000 + size_cluster_900_to_1200 + price_cluster_144000_to_355000 + price_cluster_34000_to_110000 + price_cluster_420000_to_870000 + price_cluster_45000_to_173000 + price_cluster_69000_to_210000 + taxvaluedollarcnt + structuretaxvaluedollarcnt  + landtaxvaluedollarcnt + taxamount', data=train).fit()

In [111]:
# Make predictions
train_predictions['model5_yhat'] = model5.predict(X_train)

validate_predictions['model5_yhat'] = model5.predict(X_validate)

train_predictions['model5_residuals']=train_predictions.model5_yhat-train_predictions.actual

validate_predictions['model5_residuals']=validate_predictions.model5_yhat-validate_predictions.actual

train_model5_RMSE=(sqrt(mean_squared_error(train_predictions.actual,train_predictions.model5_yhat)))
validate_model5_RMSE=(sqrt(mean_squared_error(validate_predictions.actual,validate_predictions.model5_yhat)))

train_model5_r2 = (r2_score(train_predictions.actual,train_predictions.model5_yhat))

validate_model5_r2 = (r2_score(validate_predictions.actual,validate_predictions.model5_yhat))

print(f'train_rmse: {train_model5_RMSE}')
print(f'train_r2: {train_model5_r2}')

print(f'validate_rmse: {validate_model5_RMSE}')
print(f'validate_model5_r2: {validate_model5_r2}')

train_rmse: 0.17431655480588018
train_r2: 0.004672120838105087
validate_rmse: 0.1698002294298556
validate_model5_r2: 0.004108011864795813

In [112]:
train.dtypes

Unnamed: 0                                int64
parcelid                                  int64
bathroomcnt                             float64
bedroomcnt                              float64
calculatedfinishedsquarefeet            float64
fips                                    float64
latitude                                float64
longitude                               float64
lotsizesquarefeet                       float64
regionidcity                            float64
regionidcounty                          float64
regionidzip                             float64
yearbuilt                               float64
structuretaxvaluedollarcnt              float64
taxvaluedollarcnt                       float64
landtaxvaluedollarcnt                   float64
taxamount                               float64
county                                   object
age                                     float64
age_bin                                 float64
taxrate                                 float64
acres                                   float64
acres_bin                               float64
sqft_bin                                float64
structure_dollar_per_sqft               float64
structure_dollar_sqft_bin               float64
land_dollar_per_sqft                    float64
lot_dollar_sqft_bin                     float64
bath_bed_ratio                          float64
cola                                      int64
logerror_bins                          category
baseline                                float64
scaled_latitude                         float64
scaled_longitude                        float64
scaled_bathroomcnt                      float64
scaled_taxrate                          float64
scaled_bedroomcnt                       float64
scaled_lotsizesquarefeet                float64
scaled_age                              float64
scaled_acres                            float64
scaled_bath_bed_ratio                   float64
scaled_calculatedfinishedsquarefeet     float64
area_cluster                             object
size_cluster                             object
price_cluster                            object
tax_cluster                              object
area_cluster_la_newer                     uint8
area_cluster_la_older                     uint8
area_cluster_northwest_costal             uint8
area_cluster_palmdale_landcaster          uint8
area_cluster_santa_clarita                uint8
area_cluster_se_coast                     uint8
size_cluster_1250_to_1650                 uint8
size_cluster_1300_to_2000                 uint8
size_cluster_1500_to_1900                 uint8
size_cluster_1500_to_2800                 uint8
size_cluster_2300_to_4400                 uint8
size_cluster_2900_to_4000                 uint8
size_cluster_900_to_1200                  uint8
price_cluster_144000_to_355000            uint8
price_cluster_34000_to_110000             uint8
price_cluster_420000_to_870000            uint8
price_cluster_45000_to_173000             uint8
price_cluster_69000_to_210000             uint8
tax_cluster_1000_to_3000                  uint8
tax_cluster_16000_to_22000                uint8
tax_cluster_30000_to_40000                uint8
tax_cluster_5000_to_6000                  uint8
tax_cluster_8500_to_12000                 uint8
logerror                                float64
dtype: object

In [115]:
# Create OLS Model using encoded clusters
model6 = ols(formula='logerror ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + size_cluster_1250_to_1650 + size_cluster_1300_to_2000 + size_cluster_1500_to_1900 + size_cluster_1500_to_2800 + size_cluster_2300_to_4400 + size_cluster_2900_to_4000 + price_cluster_69000_to_210000 + price_cluster_144000_to_355000 + price_cluster_34000_to_110000 + price_cluster_420000_to_870000 + price_cluster_45000_to_173000 + price_cluster_69000_to_210000 + tax_cluster_1000_to_3000 + tax_cluster_16000_to_22000 + tax_cluster_30000_to_40000 + tax_cluster_5000_to_6000 + tax_cluster_8500_to_12000 ', data=train).fit()

In [116]:
# Make predictions
train_predictions['model6_yhat'] = model6.predict(X_train)

validate_predictions['model6_yhat'] = model6.predict(X_validate)

train_predictions['model6_residuals']=train_predictions.model6_yhat-train_predictions.actual

validate_predictions['model6_residuals']=validate_predictions.model6_yhat-validate_predictions.actual

train_model6_RMSE=(sqrt(mean_squared_error(train_predictions.actual,train_predictions.model6_yhat)))
validate_model6_RMSE=(sqrt(mean_squared_error(validate_predictions.actual,validate_predictions.model6_yhat)))

train_model6_r2 = (r2_score(train_predictions.actual,train_predictions.model6_yhat))

validate_model6_r2 = (r2_score(validate_predictions.actual,validate_predictions.model6_yhat))

print(f'train_rmse: {train_model6_RMSE}')
print(f'train_r2: {train_model6_r2}')

print(f'validate_rmse: {validate_model6_RMSE}')
print(f'validate_model6_r2: {validate_model6_r2}')

train_rmse: 0.174334387432884
train_r2: 0.004468465841425906
validate_rmse: 0.16983995325039028
validate_model6_r2: 0.0036419905615641124

In [117]:
model_performance =pd.read_csv('zillow_logerror_modeling.csv')
model_performance

,Model,Method,Features,train_rmse,train_r2,validate_rmse,validate_r2,train-validate_rmse,train_percent_change_rmse_baseline,validate_percent_change_rmse_baseline
0,baseline,mean,mean logerror,0.17473,0.00000,0.17015,0.00000,0.00458,NaN,NaN
1,model1,ols,"area, size, and price clusters",0.17434,0.00436,0.16988,0.00322,0.00447,-0.21812,-0.16105
2,model2,ols,"geoclusters, bathroomcnt, bedroomcnt, calculatedfinishedsquarefeet, acres, age",0.17445,0.00314,0.16995,0.00236,0.00450,-0.15729,-0.11820
3,model3,ols,"geoclusters, taxamount, taxvaluedollarcnt, structuretaxvaluedollarcnt, landtaxvaluedollarcnt, acres, age",0.17452,0.00239,0.17010,0.00061,0.00442,-0.11958,-0.03069
4,model4,ols,"taxvaluedollarcnt, structuretaxvaluedollarcnt, taxvaluedollarcnt, landtaxvaluedollarcnt, acres, age",0.17466,0.00076,0.17013,0.00020,0.00453,-0.03807,-0.01005
5,model5,ols,"geoglusters, size clusters, price clusters, taxvaluedollarcnt, structuretaxvaluedollarcnt, landtaxvaluedollarcnt, taxamount",0.17432,0.00467,0.16980,0.00411,0.00452,-0.23388,-0.20561
6,model6,ols,all clusters,0.17433,0.00447,0.16984,0.00364,0.00449,-0.22367,-0.18227

In [121]:
model_performance.sort_values(by=['train_rmse'], ascending=True).head(1)

,Model,Method,Features,train_rmse,train_r2,validate_rmse,validate_r2,train-validate_rmse,train_percent_change_rmse_baseline,validate_percent_change_rmse_baseline
5,model5,ols,"geoglusters, size clusters, price clusters, taxvaluedollarcnt, structuretaxvaluedollarcnt, landtaxvaluedollarcnt, taxamount",0.17432,0.00467,0.16980,0.00411,0.00452,-0.23388,-0.20561