In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import env
import eval_model
import wrangle3


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')


pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)
pd.set_option('display.float_format', lambda x: '%.5f' % x)



import gmaps
import gmaps.datasets

gmaps.configure(api_key="AIzaSyDlW6BYId6BmIp-mmA_lY_xNiQOKabd-2Q")


#Modeling Tools
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import statsmodels.api as sm
from statsmodels.formula.api import ols

from datetime import date
from scipy import stats


## Evaluation tools
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

In [2]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle3.wrangle()

In [3]:
X_train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_a,size_cluster_b,size_cluster_c,size_cluster_d,size_cluster_e,size_cluster_f,size_cluster_g,price_cluster_a,price_cluster_b,price_cluster_c,price_cluster_d,price_cluster_e
21580,21580,11204960,3.00000,4.00000,2000.00000,6037.00000,34.56170,-118.08275,6999.00000,40227.00000,3101.00000,97328.00000,1987.00000,104877.00000,131090.00000,26213.00000,2623.93000,Los_Angeles,30.00000,0.20000,2.00162,0.16067,0.20000,0.40000,52.43850,0.20000,3.74525,0.10000,0.75000,0,"(-0.05, 0.05]",0.01791,0.82963,0.73177,0.33333,0.20338,0.50000,0.00883,0.21324,0.00883,0.19643,0.17285,palmdale_landcaster,f,c,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
32781,32781,14323862,6.00000,6.00000,7393.00000,6059.00000,33.60152,-117.84523,24000.00000,40009.00000,1286.00000,96975.00000,1995.00000,1556016.00000,2449943.00000,893927.00000,29921.84000,Orange,22.00000,0.20000,1.22133,0.55096,0.40000,0.90000,210.47153,0.60000,37.24696,0.30000,1.00000,0,"(0.05, 0.2]",0.01791,0.17714,0.85659,0.83333,0.12372,0.83333,0.03101,0.15441,0.03101,0.28571,0.74125,se_coast,d,a,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
33161,33161,12205584,2.00000,3.00000,1778.00000,6037.00000,33.96600,-118.29863,4948.00000,12447.00000,3101.00000,96025.00000,1936.00000,87000.00000,347000.00000,260000.00000,4248.21000,Los_Angeles,81.00000,0.60000,1.22427,0.11359,0.10000,0.40000,48.93138,0.10000,52.54648,0.40000,0.66667,1,"(-0.05, 0.05]",0.01791,0.42483,0.61833,0.16667,0.12402,0.33333,0.00615,0.58824,0.00615,0.16667,0.14945,la_older,b,d,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
45785,45785,12078527,3.00000,4.00000,2777.00000,6037.00000,34.16601,-118.21853,9989.00000,45457.00000,3101.00000,96327.00000,1990.00000,322342.00000,875355.00000,553013.00000,9603.39000,Los_Angeles,27.00000,0.20000,1.09709,0.22932,0.20000,0.60000,116.07562,0.40000,55.36220,0.40000,0.75000,0,"(0.05, 0.2]",0.01791,0.56074,0.66042,0.33333,0.11104,0.50000,0.01273,0.19118,0.01273,0.19643,0.25474,santa_clarita,f,a,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0
45820,45820,14266520,3.00000,4.00000,1939.00000,6059.00000,33.70670,-117.89868,6028.00000,47568.00000,1286.00000,97004.00000,1971.00000,139321.00000,327623.00000,188302.00000,3923.98000,Orange,46.00000,0.33300,1.19771,0.13838,0.10000,0.40000,71.85199,0.20000,31.23789,0.30000,0.75000,0,"(-0.05, 0.05]",0.01791,0.24862,0.82851,0.33333,0.12131,0.50000,0.00756,0.33088,0.00756,0.19643,0.16642,se_coast,f,d,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0

In [4]:
train2 = X_train

In [5]:
train2['log_error']=y_train

In [6]:
train2.sample(50)

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_a,size_cluster_b,size_cluster_c,size_cluster_d,size_cluster_e,size_cluster_f,size_cluster_g,price_cluster_a,price_cluster_b,price_cluster_c,price_cluster_d,price_cluster_e,log_error
31805,31805,17059759,1.00000,3.00000,1090.00000,6111.00000,34.41412,-119.29024,19602.00000,40110.00000,2061.00000,97098.00000,1951.00000,107894.00000,283235.00000,175341.00000,3747.20000,Ventura,66.00000,0.46600,1.32300,0.45000,0.30000,0.20000,98.98532,0.30000,8.94506,0.20000,0.33333,0,"(-0.05, 0.05]",0.01791,0.72935,0.09723,0.00000,0.13410,0.33333,0.02527,0.47794,0.02527,0.04762,0.07694,northwest_costal,g,d,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,-0.00747
22592,22592,14455609,6.50000,6.00000,4564.00000,6059.00000,33.47683,-117.59710,8327.00000,13693.00000,1286.00000,96983.00000,2014.00000,933646.00000,1421130.00000,487484.00000,21575.82000,Orange,3.00000,0.00000,1.51822,0.19116,0.20000,0.80000,204.56748,0.60000,58.54257,0.40000,1.08333,0,"(-0.05, 0.05]",0.01791,0.09240,0.98699,0.91667,0.15403,0.83333,0.01056,0.01471,0.01056,0.31548,0.44309,se_coast,d,a,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,-0.01184
32642,32642,11975726,1.00000,2.00000,654.00000,6037.00000,34.12452,-118.18206,5192.00000,12447.00000,3101.00000,96023.00000,1921.00000,107616.00000,538082.00000,430466.00000,6513.94000,Los_Angeles,96.00000,0.66600,1.21059,0.11919,0.10000,0.00000,164.55046,0.50000,82.90948,0.40000,0.50000,1,"(-0.2, -0.05]",0.01791,0.53255,0.67959,0.00000,0.12263,0.16667,0.00647,0.69853,0.00647,0.10714,0.03099,la_older,g,a,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,-0.15684
17516,17516,12683101,3.00000,4.00000,3414.00000,6037.00000,33.80038,-118.35294,5392.00000,54722.00000,3101.00000,96163.00000,1989.00000,414000.00000,1365000.00000,951000.00000,15472.19000,Los_Angeles,28.00000,0.20000,1.13349,0.12378,0.10000,0.70000,121.26538,0.40000,176.37240,0.50000,0.75000,0,"(-0.05, 0.05]",0.01791,0.31228,0.58979,0.33333,0.11476,0.50000,0.00673,0.19853,0.00673,0.19643,0.32188,la_newer,f,a,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0.00178
37603,37603,14455797,2.00000,3.00000,1290.00000,6059.00000,33.54406,-117.66350,7150.00000,12773.00000,1286.00000,96996.00000,1970.00000,37708.00000,62108.00000,24400.00000,576.36000,Orange,47.00000,0.33300,0.92800,0.16414,0.20000,0.30000,29.23101,0.10000,3.41259,0.10000,0.66667,0,"(-0.05, 0.05]",0.01791,0.13809,0.95210,0.16667,0.09378,0.33333,0.00902,0.33824,0.00902,0.16667,0.09802,se_coast,b,d,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,-0.04978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42130,42130,11422842,2.00000,3.00000,1607.00000,6037.00000,33.92858,-118.34764,3827.00000,42150.00000,3101.00000,96107.00000,1978.00000,51353.00000,231305.00000,179952.00000,3081.34000,Los_Angeles,39.00000,0.26600,1.33215,0.08786,0.00000,0.40000,31.95582,0.10000,47.02169,0.30000,0.66667,0,"(-0.05, 0.05]",0.01791,0.39940,0.59257,0.16667,0.13504,0.33333,0.00469,0.27941,0.00469,0.16667,0.13143,la_newer,b,d,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,-0.00354
30993,30993,12047085,2.00000,2.00000,1418.00000,6037.00000,34.19352,-118.22025,8218.00000,45457.00000,3101.00000,96327.00000,1971.00000,55894.00000,102883.00000,46989.00000,1156.25000,Los_Angeles,46.00000,0.33300,1.12385,0.18866,0.20000,0.30000,39.41749,0.10000,5.71781,0.20000,1.00000,0,"(0.05, 0.2]",0.01791,0.57944,0.65952,0.16667,0.11377,0.16667,0.01042,0.33088,0.01042,0.28571,0.11151,santa_clarita,a,d,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0.05968
17389,17389,12153820,3.00000,4.00000,2119.00000,6037.00000,34.20426,-118.21271,9522.00000,46080.00000,3101.00000,96271.00000,1966.00000,117029.00000,143279.00000,26250.00000,1716.69000,Los_Angeles,51.00000,0.40000,1.19814,0.21860,0.20000,0.50000,55.22841,0.20000,2.75677,0.10000,0.75000,0,"(-0.2, -0.05]",0.01791,0.58673,0.66348,0.33333,0.12136,0.50000,0.01212,0.36765,0.01212,0.19643,0.18539,santa_clarita,f,d,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,-0.08368
31750,31750,14460931,4.50000,5.00000,5038.00000,6059.00000,33.57256,-117.57656,127152.00000,17597.00000,1286.00000,96989.00000,1999.00000,1067036.00000,2419172.00000,1352136.00000,24900.86000,Orange,18.00000,0.13300,1.02931,2.91901,0.50000,0.80000,211.79754,0.60000,10.63401,0.20000,0.90000,0,"(-0.05, 0.05]",0.01791,0.15746,0.99778,0.58333,0.10412,0.66667,0.16561,0.12500,0.16561,0.25000,0.49304,se_coast,d,a,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,-0.02788
13790,13790,17282560,2.00000,3.00000,1848.00000,6111.00000,34.19951,-118.84975,35100.00000,34278.00000,2061.00000,96385.00000,1959.00000,295885.00000,590322.00000,294437.00000,6238.14000,Ventura,58.00000,0.40000,1.05674,0.80579,0.40000,0.40000,160.11093,0.50000,8.38852,0.20000,0.66667,0,"(-0.05, 0.05]",0.01791,0.58351,0.32871,0.16667,0.10692,0.33333,0.04549,0.41912,0.04549,0.16667,0.15683,northwest_costal,b,a,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,-0.01051

In [7]:
train=train2

## Make ols model with clusters as features

In [8]:
train.dtypes

Unnamed: 0                                int64
parcelid                                  int64
bathroomcnt                             float64
bedroomcnt                              float64
calculatedfinishedsquarefeet            float64
fips                                    float64
latitude                                float64
longitude                               float64
lotsizesquarefeet                       float64
regionidcity                            float64
regionidcounty                          float64
regionidzip                             float64
yearbuilt                               float64
structuretaxvaluedollarcnt              float64
taxvaluedollarcnt                       float64
landtaxvaluedollarcnt                   float64
taxamount                               float64
county                                   object
age                                     float64
age_bin                                 float64
taxrate                                 float64
acres                                   float64
acres_bin                               float64
sqft_bin                                float64
structure_dollar_per_sqft               float64
structure_dollar_sqft_bin               float64
land_dollar_per_sqft                    float64
lot_dollar_sqft_bin                     float64
bath_bed_ratio                          float64
cola                                      int64
logerror_bins                          category
baseline                                float64
scaled_latitude                         float64
scaled_longitude                        float64
scaled_bathroomcnt                      float64
scaled_taxrate                          float64
scaled_bedroomcnt                       float64
scaled_lotsizesquarefeet                float64
scaled_age                              float64
scaled_acres                            float64
scaled_bath_bed_ratio                   float64
scaled_calculatedfinishedsquarefeet     float64
area_cluster                             object
size_cluster                             object
price_cluster                            object
area_cluster_la_newer                     uint8
area_cluster_la_older                     uint8
area_cluster_northwest_costal             uint8
area_cluster_palmdale_landcaster          uint8
area_cluster_santa_clarita                uint8
area_cluster_se_coast                     uint8
size_cluster_a                            uint8
size_cluster_b                            uint8
size_cluster_c                            uint8
size_cluster_d                            uint8
size_cluster_e                            uint8
size_cluster_f                            uint8
size_cluster_g                            uint8
price_cluster_a                           uint8
price_cluster_b                           uint8
price_cluster_c                           uint8
price_cluster_d                           uint8
price_cluster_e                           uint8
log_error                               float64
dtype: object

In [9]:
train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_a,size_cluster_b,size_cluster_c,size_cluster_d,size_cluster_e,size_cluster_f,size_cluster_g,price_cluster_a,price_cluster_b,price_cluster_c,price_cluster_d,price_cluster_e,log_error
21580,21580,11204960,3.00000,4.00000,2000.00000,6037.00000,34.56170,-118.08275,6999.00000,40227.00000,3101.00000,97328.00000,1987.00000,104877.00000,131090.00000,26213.00000,2623.93000,Los_Angeles,30.00000,0.20000,2.00162,0.16067,0.20000,0.40000,52.43850,0.20000,3.74525,0.10000,0.75000,0,"(-0.05, 0.05]",0.01791,0.82963,0.73177,0.33333,0.20338,0.50000,0.00883,0.21324,0.00883,0.19643,0.17285,palmdale_landcaster,f,c,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,-0.01503
32781,32781,14323862,6.00000,6.00000,7393.00000,6059.00000,33.60152,-117.84523,24000.00000,40009.00000,1286.00000,96975.00000,1995.00000,1556016.00000,2449943.00000,893927.00000,29921.84000,Orange,22.00000,0.20000,1.22133,0.55096,0.40000,0.90000,210.47153,0.60000,37.24696,0.30000,1.00000,0,"(0.05, 0.2]",0.01791,0.17714,0.85659,0.83333,0.12372,0.83333,0.03101,0.15441,0.03101,0.28571,0.74125,se_coast,d,a,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0.15846
33161,33161,12205584,2.00000,3.00000,1778.00000,6037.00000,33.96600,-118.29863,4948.00000,12447.00000,3101.00000,96025.00000,1936.00000,87000.00000,347000.00000,260000.00000,4248.21000,Los_Angeles,81.00000,0.60000,1.22427,0.11359,0.10000,0.40000,48.93138,0.10000,52.54648,0.40000,0.66667,1,"(-0.05, 0.05]",0.01791,0.42483,0.61833,0.16667,0.12402,0.33333,0.00615,0.58824,0.00615,0.16667,0.14945,la_older,b,d,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,-0.01774
45785,45785,12078527,3.00000,4.00000,2777.00000,6037.00000,34.16601,-118.21853,9989.00000,45457.00000,3101.00000,96327.00000,1990.00000,322342.00000,875355.00000,553013.00000,9603.39000,Los_Angeles,27.00000,0.20000,1.09709,0.22932,0.20000,0.60000,116.07562,0.40000,55.36220,0.40000,0.75000,0,"(0.05, 0.2]",0.01791,0.56074,0.66042,0.33333,0.11104,0.50000,0.01273,0.19118,0.01273,0.19643,0.25474,santa_clarita,f,a,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0.06685
45820,45820,14266520,3.00000,4.00000,1939.00000,6059.00000,33.70670,-117.89868,6028.00000,47568.00000,1286.00000,97004.00000,1971.00000,139321.00000,327623.00000,188302.00000,3923.98000,Orange,46.00000,0.33300,1.19771,0.13838,0.10000,0.40000,71.85199,0.20000,31.23789,0.30000,0.75000,0,"(-0.05, 0.05]",0.01791,0.24862,0.82851,0.33333,0.12131,0.50000,0.00756,0.33088,0.00756,0.19643,0.16642,se_coast,f,d,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,-0.02213

In [68]:
# Create Model
ols_model1 = ols(formula='log_error ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + size_cluster_a + size_cluster_b + size_cluster_c + size_cluster_d + size_cluster_e + size_cluster_f + size_cluster_g + price_cluster_a + price_cluster_b + price_cluster_c + price_cluster_d + price_cluster_e', data=train).fit()

# Make predictions
ols_yhat = ols_model1.predict(X_train)
X_train['mvp_prdictions']=ols_yhat

#  DataFrame for evaluating model 
ols_eval = y_train.copy()
validate_eval = y_validate.copy()
ols_eval = pd.DataFrame(ols_eval)
validate_eval = pd.DataFrame(validate_eval)
ols_eval.rename(columns={'logerror': 'actual'}, inplace=True)
validate_eval.rename(columns={'logerror': 'actual'}, inplace=True)
validate_eval['ols_yhat'] = ols_model1.predict(X_validate)


# Add baseline - median home value
ols_eval['baseline_yhat'] = ols_eval['actual'].mean()
validate_eval['baseline_yhat'] = ols_eval['actual'].mean()
validate_eval['ols_yhat'] = ols_model1.predict(X_validate)

#  Compute the RMSE  and R2 for  ols model and baseline 
baseline_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.baseline_yhat)))
ols_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols_yhat)))

pct_change=round(((ols_RMSE-baseline_RMSE)/baseline_RMSE)*100, 2)
rmse_validate = (sqrt(mean_squared_error(validate_eval.actual, validate_eval.ols_yhat)))
baseline_r2 = (r2_score(ols_eval.actual, ols_eval.baseline_yhat))
ols_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols_yhat))
ols_validate_r2 = (r2_score(validate_eval.actual, validate_eval.ols_yhat))

#Output Findings

print(f'My model has value: {ols_RMSE < baseline_RMSE}')
print()
print(f'Baseline RMSE: {baseline_RMSE}')
print(f'My model train RMSE: {ols_RMSE}')
print(f'My model validate RMSE: {rmse_validate}')
print(f'RMSE difference baseline to model train: {baseline_RMSE- ols_RMSE}')
print(f'RMSE difference baseline to model validate: {baseline_RMSE- rmse_validate}')
print(f'RMSE difference train to validate: {ols_RMSE- rmse_validate}')
print(f'RMSE improvement: {pct_change}%')
print()
print(f'Baseline R2: {baseline_r2}')
print(f'Model train  R2: {ols_train_r2}')
print(f'Model Validate R2: {ols_validate_r2}')

AttributeError: 'DataFrame' object has no attribute 'ols_yhat'

In [11]:

# Add baseline - median home value
ols_eval['baseline_yhat'] = ols_eval['actual'].mean()
validate_eval['baseline_yhat'] = ols_eval['actual'].mean()

In [12]:
ols_eval

        actual
21580 -0.01503
32781  0.15846
33161 -0.01774
45785  0.06685
45820 -0.02213
...        ...
14404  0.03122
1276   0.09111
34315 -0.01855
24599  0.18463
14306 -0.02481

[36384 rows x 1 columns]

In [14]:
ols_eval

        actual  baseline_yhat
21580 -0.01503        0.01791
32781  0.15846        0.01791
33161 -0.01774        0.01791
45785  0.06685        0.01791
45820 -0.02213        0.01791
...        ...            ...
14404  0.03122        0.01791
1276   0.09111        0.01791
34315 -0.01855        0.01791
24599  0.18463        0.01791
14306 -0.02481        0.01791

[36384 rows x 2 columns]

In [77]:

# Add model prediction
ols_eval['ols_yhat'] = ols_model1.predict(X_train)

In [78]:
ols_eval.head()

        actual  baseline_yhat  ols_yhat
21580 -0.01503        0.01791   0.01352
32781  0.15846        0.01791   0.03573
33161 -0.01774        0.01791   0.01181
45785  0.06685        0.01791   0.01187
45820 -0.02213        0.01791   0.04110

In [16]:
ols_eval

        actual  baseline_yhat  ols_yhat
21580 -0.01503        0.01791   0.01352
32781  0.15846        0.01791   0.03573
33161 -0.01774        0.01791   0.01181
45785  0.06685        0.01791   0.01187
45820 -0.02213        0.01791   0.04110
...        ...            ...       ...
14404  0.03122        0.01791   0.04110
1276   0.09111        0.01791   0.01591
34315 -0.01855        0.01791   0.01097
24599  0.18463        0.01791   0.02338
14306 -0.02481        0.01791   0.01507

[36384 rows x 3 columns]

-[] Wranlge need to add clusters and encoding to x_validate

In [17]:
X_validate.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_a,size_cluster_b,size_cluster_c,size_cluster_d,size_cluster_e,size_cluster_f,size_cluster_g,price_cluster_a,price_cluster_b,price_cluster_c,price_cluster_d,price_cluster_e
20430,20430,11304460,3.00000,4.00000,2334.00000,6037.00000,34.68774,-118.18418,6631.00000,5534.00000,3101.00000,97319.00000,1990.00000,173161.00000,216450.00000,43289.00000,3463.67000,Los_Angeles,27.00000,0.20000,1.60022,0.15223,0.20000,0.50000,74.19066,0.20000,6.52828,0.20000,0.75000,0,0.01791,0.91529,0.67847,0.33333,0.16240,0.50000,0.00834,0.19118,0.00834,0.19643,0.20805,palmdale_landcaster,f,c,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
36350,36350,14260987,2.00000,4.00000,1361.00000,6059.00000,33.72950,-117.90591,7800.00000,47568.00000,1286.00000,97004.00000,1960.00000,62078.00000,382037.00000,319959.00000,4531.62000,Orange,57.00000,0.40000,1.18617,0.17906,0.20000,0.30000,45.61205,0.10000,41.02038,0.30000,0.50000,0,0.01791,0.26411,0.82471,0.16667,0.12013,0.50000,0.00987,0.41176,0.00987,0.10714,0.10550,la_newer,c,d,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
24457,24457,14066920,2.50000,4.00000,1840.00000,6059.00000,33.71017,-118.02330,6305.00000,25218.00000,1286.00000,96967.00000,1965.00000,126210.00000,711616.00000,585406.00000,7920.96000,Orange,52.00000,0.40000,1.11309,0.14474,0.10000,0.40000,68.59239,0.20000,92.84790,0.40000,0.62500,0,0.01791,0.25097,0.76302,0.25000,0.11267,0.50000,0.00792,0.37500,0.00792,0.15179,0.15599,la_newer,b,a,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0
47718,47718,11236044,2.00000,3.00000,1244.00000,6037.00000,34.54453,-118.07068,7040.00000,40227.00000,3101.00000,97328.00000,1993.00000,114200.00000,199000.00000,84800.00000,3453.14000,Los_Angeles,24.00000,0.20000,1.73525,0.16162,0.20000,0.20000,91.80064,0.30000,12.04545,0.20000,0.66667,0,0.01791,0.81797,0.73812,0.16667,0.17619,0.33333,0.00888,0.16912,0.00888,0.16667,0.09317,palmdale_landcaster,b,c,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0
46236,46236,11317435,3.00000,4.00000,2200.00000,6037.00000,34.68003,-118.24310,7759.00000,5534.00000,3101.00000,97319.00000,2005.00000,204300.00000,273000.00000,68700.00000,4280.00000,Los_Angeles,12.00000,0.13300,1.56777,0.17812,0.20000,0.50000,92.86364,0.30000,8.85423,0.20000,0.75000,0,0.01791,0.91005,0.64751,0.33333,0.15909,0.50000,0.00982,0.08088,0.00982,0.19643,0.19393,palmdale_landcaster,f,c,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0

In [51]:
validate_eval['ols_yhat'] = ols_model1.predict(X_validate)

Calculate Baseline RMSE

In [52]:
# Calculate and Add Residuals Column for Plotting
ols_eval['residuals'] = ols_eval.ols_yhat - ols_eval.actual
validate_eval['residuals'] = validate_eval.ols_yhat - validate_eval.actual

In [53]:
#  Compute the RMSE  and R2 for  ols model and baseline 
baseline_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.baseline_yhat)))
ols_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols_yhat)))

In [54]:
baseline_RMSE

0.1747252013031296

In [55]:
ols_eval

,actual,baseline_yhat,ols_yhat,residuals,ols3_yhat,ols2_yhat,ols4_yhat
21580,-0.01503,0.01791,0.01352,0.02856,0.01204,0.01403,0.02238
32781,0.15846,0.01791,0.03573,-0.12272,0.04401,0.06059,0.01968
33161,-0.01774,0.01791,0.01181,0.02954,0.00578,0.00696,0.01250
45785,0.06685,0.01791,0.01187,-0.05497,0.01263,0.01460,0.01900
45820,-0.02213,0.01791,0.04110,0.06324,0.03121,0.03095,0.01852
...,...,...,...,...,...,...,...
14404,0.03122,0.01791,0.04110,0.00988,0.03266,0.03305,0.01980
1276,0.09111,0.01791,0.01591,-0.07520,0.00591,0.00759,0.01426
34315,-0.01855,0.01791,0.01097,0.02952,0.01591,0.01746,0.01459
24599,0.18463,0.01791,0.02338,-0.16125,0.02451,0.01804,0.01425
14306,-0.02481,0.01791,0.01507,0.03988,0.02455,0.02659,0.01882

In [56]:
baseline_RMSE

0.1747252013031296

In [69]:
pct_change=round(((ols_RMSE-baseline_RMSE)/baseline_RMSE)*100, 2)
rmse_validate = (sqrt(mean_squared_error(validate_eval.actual, validate_eval.ols_yhat)))
baseline_r2 = (r2_score(ols_eval.actual, ols_eval.baseline_yhat))
ols_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols_yhat))
ols_validate_r2 = (r2_score(validate_eval.actual, validate_eval.ols_yhat))

#Output Findings

print(f'My model has value: {ols_RMSE < baseline_RMSE}')
print()
print(f'Baseline RMSE: {baseline_RMSE}')
print(f'My model train RMSE: {ols_RMSE}')
print(f'My model validate RMSE: {rmse_validate}')
print(f'RMSE difference baseline to model train: {baseline_RMSE- ols_RMSE}')
print(f'RMSE difference baseline to model validate: {baseline_RMSE- rmse_validate}')
print(f'RMSE difference train to validate: {ols_RMSE- rmse_validate}')
print(f'RMSE improvement: {pct_change}%')
print()
print(f'Baseline R2: {baseline_r2}')
print(f'Model train  R2: {ols_train_r2}')
print(f'Model Validate R2: {ols_validate_r2}')

AttributeError: 'DataFrame' object has no attribute 'ols_yhat'

In [29]:
train.dtypes

Unnamed: 0                                int64
parcelid                                  int64
bathroomcnt                             float64
bedroomcnt                              float64
calculatedfinishedsquarefeet            float64
fips                                    float64
latitude                                float64
longitude                               float64
lotsizesquarefeet                       float64
regionidcity                            float64
regionidcounty                          float64
regionidzip                             float64
yearbuilt                               float64
structuretaxvaluedollarcnt              float64
taxvaluedollarcnt                       float64
landtaxvaluedollarcnt                   float64
taxamount                               float64
county                                   object
age                                     float64
age_bin                                 float64
taxrate                                 float64
acres                                   float64
acres_bin                               float64
sqft_bin                                float64
structure_dollar_per_sqft               float64
structure_dollar_sqft_bin               float64
land_dollar_per_sqft                    float64
lot_dollar_sqft_bin                     float64
bath_bed_ratio                          float64
cola                                      int64
logerror_bins                          category
baseline                                float64
scaled_latitude                         float64
scaled_longitude                        float64
scaled_bathroomcnt                      float64
scaled_taxrate                          float64
scaled_bedroomcnt                       float64
scaled_lotsizesquarefeet                float64
scaled_age                              float64
scaled_acres                            float64
scaled_bath_bed_ratio                   float64
scaled_calculatedfinishedsquarefeet     float64
area_cluster                             object
size_cluster                             object
price_cluster                            object
area_cluster_la_newer                     uint8
area_cluster_la_older                     uint8
area_cluster_northwest_costal             uint8
area_cluster_palmdale_landcaster          uint8
area_cluster_santa_clarita                uint8
area_cluster_se_coast                     uint8
size_cluster_a                            uint8
size_cluster_b                            uint8
size_cluster_c                            uint8
size_cluster_d                            uint8
size_cluster_e                            uint8
size_cluster_f                            uint8
size_cluster_g                            uint8
price_cluster_a                           uint8
price_cluster_b                           uint8
price_cluster_c                           uint8
price_cluster_d                           uint8
price_cluster_e                           uint8
log_error                               float64
mvp_prdictions                          float64
ols3_prdictions                         float64
dtype: object

In [30]:
# Create Model
ols_model3 = ols(formula='log_error ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + taxvaluedollarcnt + structuretaxvaluedollarcnt + taxvaluedollarcnt + landtaxvaluedollarcnt + acres + age', data=train).fit()

# Make predictions
ols3_yhat = ols_model3.predict(X_train)
ols_eval['ols3_yhat']=ols3_yhat
X_train['ols3_prdictions']=ols3_yhat

In [31]:
ols_eval.head()

        actual  baseline_yhat  ols_yhat  residuals  ols3_yhat
21580 -0.01503        0.01791   0.01352    0.02856    0.01204
32781  0.15846        0.01791   0.03573   -0.12272    0.04401
33161 -0.01774        0.01791   0.01181    0.02954    0.00578
45785  0.06685        0.01791   0.01187   -0.05497    0.01263
45820 -0.02213        0.01791   0.04110    0.06324    0.03121

In [33]:
ols_eval.head()

        actual  baseline_yhat  ols_yhat  residuals  ols3_yhat
21580 -0.01503        0.01791   0.01352    0.02856    0.01204
32781  0.15846        0.01791   0.03573   -0.12272    0.04401
33161 -0.01774        0.01791   0.01181    0.02954    0.00578
45785  0.06685        0.01791   0.01187   -0.05497    0.01263
45820 -0.02213        0.01791   0.04110    0.06324    0.03121

In [43]:
ols_eval

        actual  baseline_yhat  ols_yhat  residuals  ols3_yhat
21580 -0.01503        0.01791   0.01352    0.02856    0.01204
32781  0.15846        0.01791   0.03573   -0.12272    0.04401
33161 -0.01774        0.01791   0.01181    0.02954    0.00578
45785  0.06685        0.01791   0.01187   -0.05497    0.01263
45820 -0.02213        0.01791   0.04110    0.06324    0.03121
...        ...            ...       ...        ...        ...
14404  0.03122        0.01791   0.04110    0.00988    0.03266
1276   0.09111        0.01791   0.01591   -0.07520    0.00591
34315 -0.01855        0.01791   0.01097    0.02952    0.01591
24599  0.18463        0.01791   0.02338   -0.16125    0.02451
14306 -0.02481        0.01791   0.01507    0.03988    0.02455

[36384 rows x 5 columns]

In [44]:
#Calculate Evaluation metrics
baseline_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.baseline_yhat)))
ols_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols_yhat)))
ols3_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols3_yhat)))
pct_change_baseline=(((ols_RMSE-baseline_RMSE)/baseline_RMSE)*100)
pct_change_last_model=(((ols3_RMSE-ols_RMSE)/ols_RMSE)*100)
#rmse_validate = (sqrt(mean_squared_error(validate_eval.actual, validate_eval.ols2_yhat)))
baseline_r2 = (r2_score(ols_eval.actual, ols_eval.baseline_yhat))
ols3_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols3_yhat))
#ols2_validate_r2 = (r2_score(validate_eval.actual, validate_eval.ols2_yhat))
# Display findings
print(f'My model has value: {ols_RMSE < baseline_RMSE}')
print(f'My model beats previous model: {ols3_RMSE < ols_RMSE}')
print()
print(f'Baseline RMSE: {baseline_RMSE}')
print(f'Model 1 RMSE: {ols_RMSE}')
print(f'Current model train RMSE: {ols3_RMSE}')
#print(f'Currennt model validate RMSE: {rmse_validate}')
print()
print(f'Current model RMSE difference from baseline: {baseline_RMSE- ols_RMSE}')
#print(f'RMSE difference train to validate: {ols2_RMSE- rmse_validate}')
print(f'Current model baseline RMSE improvement: {pct_change_baseline}%')
#print(f'Current model RMSE improvement from last model: {pct_change_last_model}%')
print()
print(f'Baseline R2: {baseline_r2}')
print(f'Model train  R2: {ols3_train_r2}')
#print(f'Model Validate R2: {ols2_validate_r2}')

My model has value: True
My model beats previous model: False

Baseline RMSE: 0.1747252013031296
Model 1 RMSE: 0.17434797056175116
Current model train RMSE: 0.1745183892333338

Current model RMSE difference from baseline: 0.00037723074137843704
Current model baseline RMSE improvement: -0.21589944585268034%

Baseline R2: 0.0
Model train  R2: 0.0023658827981120067

In [20]:
train.dtypes

Unnamed: 0                                int64
parcelid                                  int64
bathroomcnt                             float64
bedroomcnt                              float64
calculatedfinishedsquarefeet            float64
fips                                    float64
latitude                                float64
longitude                               float64
lotsizesquarefeet                       float64
regionidcity                            float64
regionidcounty                          float64
regionidzip                             float64
yearbuilt                               float64
structuretaxvaluedollarcnt              float64
taxvaluedollarcnt                       float64
landtaxvaluedollarcnt                   float64
taxamount                               float64
county                                   object
age                                     float64
age_bin                                 float64
taxrate                                 float64
acres                                   float64
acres_bin                               float64
sqft_bin                                float64
structure_dollar_per_sqft               float64
structure_dollar_sqft_bin               float64
land_dollar_per_sqft                    float64
lot_dollar_sqft_bin                     float64
bath_bed_ratio                          float64
cola                                      int64
logerror_bins                          category
baseline                                float64
scaled_latitude                         float64
scaled_longitude                        float64
scaled_bathroomcnt                      float64
scaled_taxrate                          float64
scaled_bedroomcnt                       float64
scaled_lotsizesquarefeet                float64
scaled_age                              float64
scaled_acres                            float64
scaled_bath_bed_ratio                   float64
scaled_calculatedfinishedsquarefeet     float64
area_cluster                             object
size_cluster                             object
price_cluster                            object
area_cluster_la_newer                     uint8
area_cluster_la_older                     uint8
area_cluster_northwest_costal             uint8
area_cluster_palmdale_landcaster          uint8
area_cluster_santa_clarita                uint8
area_cluster_se_coast                     uint8
size_cluster_a                            uint8
size_cluster_b                            uint8
size_cluster_c                            uint8
size_cluster_d                            uint8
size_cluster_e                            uint8
size_cluster_f                            uint8
size_cluster_g                            uint8
price_cluster_a                           uint8
price_cluster_b                           uint8
price_cluster_c                           uint8
price_cluster_d                           uint8
price_cluster_e                           uint8
log_error                               float64
mvp_prdictions                          float64
dtype: object

In [45]:
# Create Model
ols_model2 = ols(formula='log_error ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + bathroomcnt + bedroomcnt + calculatedfinishedsquarefeet + acres + age', data=train).fit()

# Make predictions
ols2_yhat = ols_model2.predict(X_train)
ols_eval['ols2_yhat']=ols2_yhat
X_train['ols2_prdictions']=ols2_yhat

In [46]:
#Calculate Evaluation metrics
baseline_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.baseline_yhat)))
ols_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols_yhat)))
ols2_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols2_yhat)))
pct_change_baseline=(((ols_RMSE-baseline_RMSE)/baseline_RMSE)*100)
pct_change_last_model=(((ols2_RMSE-ols_RMSE)/ols_RMSE)*100)
#rmse_validate = (sqrt(mean_squared_error(validate_eval.actual, validate_eval.ols2_yhat)))
baseline_r2 = (r2_score(ols_eval.actual, ols_eval.baseline_yhat))
ols2_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols2_yhat))
#ols2_validate_r2 = (r2_score(validate_eval.actual, validate_eval.ols2_yhat))
# Display findings
print(f'My model has value: {ols_RMSE < baseline_RMSE}')
print(f'My model beats previous model: {ols2_RMSE < ols_RMSE}')
print()
print(f'Baseline RMSE: {baseline_RMSE}')
print(f'Model 1 RMSE: {ols_RMSE}')
print(f'Current model train RMSE: {ols2_RMSE}')
#print(f'Current model validate RMSE: {rmse_validate}')
print()
print(f'Current model RMSE difference from baseline: {baseline_RMSE- ols_RMSE}')
#print(f'RMSE difference train to validate: {ols2_RMSE- rmse_validate}')
print(f'Current model baseline RMSE improvement: {pct_change_baseline}%')
print(f'Current model RMSE improvement from last model: {pct_change_last_model}%')
print()
print(f'Baseline R2: {baseline_r2}')
print(f'Model train  R2: {ols2_train_r2}')
#print(f'Model Validate R2: {ols2_validate_r2}')

My model has value: True
My model beats previous model: False

Baseline RMSE: 0.1747252013031296
Model 1 RMSE: 0.17434797056175116
Currennt model train RMSE: 0.17445037402983032

Current model RMSE difference from baseline: 0.00037723074137843704
Current model baseline RMSE improvement: -0.21589944585268034%
Current model RMSE improvement from last model: 0.058735107583537983%

Baseline R2: 0.0
Model train  R2: 0.0031433488903251927

In [47]:
# Create Model
ols_model4 = ols(formula='log_error ~ taxvaluedollarcnt + structuretaxvaluedollarcnt + taxvaluedollarcnt + landtaxvaluedollarcnt + acres + age', data=train).fit()

# Make predictions
ols4_yhat = ols_model4.predict(X_train)
ols_eval['ols4_yhat']=ols4_yhat
X_train['ols4_prdictions']=ols4_yhat

In [48]:
#Calculate Evaluation metrics
baseline_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.baseline_yhat)))
ols_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols_yhat)))
ols2_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols2_yhat)))
ols3_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols3_yhat)))
ols4_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols4_yhat)))

pct_change_baseline=(((ols4_RMSE-baseline_RMSE)/baseline_RMSE)*100)
pct_change_last_model=(((ols4_RMSE-ols_RMSE)/ols_RMSE)*100)
#rmse_validate = (sqrt(mean_squared_error(validate_eval.actual, validate_eval.ols2_yhat)))
baseline_r2 = (r2_score(ols_eval.actual, ols_eval.baseline_yhat))
ols2_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols2_yhat))
ols3_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols3_yhat))
ols4_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols4_yhat))
#ols2_validate_r2 = (r2_score(validate_eval.actual, validate_eval.ols2_yhat))
# Display findings
print(f'My model has value: {ols_RMSE < baseline_RMSE}')
print(f'My model beats previous best model: {ols4_RMSE < ols_RMSE}')
print()
print(f'Baseline RMSE: {baseline_RMSE}')
print(f'Model 1 RMSE: {ols_RMSE}')
print(f'Current model train RMSE: {ols4_RMSE}')
#print(f'Current model validate RMSE: {rmse_validate}')
print()
print(f'Current model RMSE difference from baseline: {baseline_RMSE- ols4_RMSE}')
#print(f'RMSE difference train to validate: {ols2_RMSE- rmse_validate}')
print(f'Current model baseline RMSE improvement: {pct_change_baseline}%')
print(f'Current model RMSE improvement from last model: {pct_change_last_model}%')
print()
print(f'Baseline R2: {baseline_r2}')
print(f'Model train  R2: {ols4_train_r2}')
#print(f'Model Validate R2: {ols2_validate_r2}')

My model has value: True
My model beats previous best model: False

Baseline RMSE: 0.1747252013031296
Model 1 RMSE: 0.17434797056175116
Current model train RMSE: 0.17465868761475795

Current model RMSE difference from baseline: 6.65136883716555e-05
Current model baseline RMSE improvement: -0.03806759864952815%
Current model RMSE improvement from last model: 0.17821661588927454%

Baseline R2: 0.0
Model train  R2: 0.0007612070587840192

In [49]:
baseline_r2

0.0

In [90]:
# Create Model
ols_model5 = ols(formula='log_error ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + size_cluster_a + size_cluster_b + size_cluster_c + size_cluster_d + size_cluster_e + size_cluster_f + size_cluster_g + price_cluster_a + price_cluster_b + price_cluster_c + price_cluster_d + price_cluster_e + taxvaluedollarcnt + structuretaxvaluedollarcnt + taxvaluedollarcnt + landtaxvaluedollarcnt', data=train).fit()

# Make predictions
ols5_yhat = ols_model5.predict(X_train)
X_train['mvp_prdictions']=ols5_yhat
ols_eval['ols5_yhat']=ols5_yhat

ols5_validate_yhat = ols_model5.predict(X_validate)
X_validate['ols5_prdictions']=ols5_validate_yhat

In [80]:
ols_eval['ols5_yhat']=ols5_yhat

In [71]:
validate_eval.head()

        actual  ols_yhat  baseline_yhat
20430  0.02800   0.01352        0.01791
36350 -0.03456   0.03021        0.01791
24457 -0.00435   0.01097        0.01791
47718  0.01948   0.00652        0.01791
46236  0.04457   0.01352        0.01791

In [72]:
validate_eval['ols5_yhat']=ols5_validate_yhat

In [76]:
ols_eval.head()

        actual  baseline_yhat
21580 -0.01503        0.01791
32781  0.15846        0.01791
33161 -0.01774        0.01791
45785  0.06685        0.01791
45820 -0.02213        0.01791

In [89]:
ols_eval.head()

        actual  baseline_yhat  ols_yhat  ols5_yhat
21580 -0.01503        0.01791   0.01352    0.01352
32781  0.15846        0.01791   0.03573    0.03573
33161 -0.01774        0.01791   0.01181    0.01181
45785  0.06685        0.01791   0.01187    0.01187
45820 -0.02213        0.01791   0.04110    0.04110

In [92]:
validate_eval.head()

        actual  ols_yhat  baseline_yhat  ols5_yhat
20430  0.02800   0.01352        0.01791    0.01535
36350 -0.03456   0.03021        0.01791    0.02952
24457 -0.00435   0.01097        0.01791    0.00814
47718  0.01948   0.00652        0.01791    0.00532
46236  0.04457   0.01352        0.01791    0.01517

In [96]:
#Calculate Evaluation metrics
baseline_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.baseline_yhat)))
ols_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols_yhat)))
ols5_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols5_yhat)))
pct_change_baseline=(((ols5_RMSE-baseline_RMSE)/baseline_RMSE)*100)
pct_change_last_model=(((ols5_RMSE-ols_RMSE)/ols_RMSE)*100)
rmse_validate = (sqrt(mean_squared_error(validate_eval.actual, validate_eval.ols5_yhat)))
baseline_r2 = (r2_score(ols_eval.actual, ols_eval.baseline_yhat))
ols5_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols5_yhat))
ols5_validate_r2 = (r2_score(validate_eval.actual, validate_eval.ols5_yhat))
# Display findings
print(f'My model has value: {ols_RMSE < baseline_RMSE}')
print(f'My model beats previous model: {ols5_RMSE < ols_RMSE}')
print()
print(f'Baseline RMSE: {baseline_RMSE}')
print(f'Model 1 RMSE: {ols_RMSE}')
print(f'Current model train RMSE: {ols5_RMSE}')
print(f'Current model validate RMSE: {rmse_validate}')
print()
print(f'Current model train RMSE difference from baseline: {baseline_RMSE- ols5_RMSE}')
print(f'Current model validate RMSE difference from baseline: {baseline_RMSE- rmse_validate}')
print()

print(f'Current model RMSE difference from best model: {ols5_RMSE- ols_RMSE}')
print()

print(f'RMSE difference train to validate: {ols2_RMSE- rmse_validate}')
print(f'Current model baseline RMSE improvement: {pct_change_baseline}%')
print(f'Current model RMSE improvement from last model: {pct_change_last_model}%')
print()
print(f'Baseline R2: {baseline_r2}')
print(f'Model train  R2: {ols3_train_r2}')
print(f'Model Validate R2: {ols5_validate_r2}')

My model has value: True
My model beats previous model: True

Baseline RMSE: 0.1747252013031296
Model 1 RMSE: 0.17434797056175116
Current model train RMSE: 0.1743396579027326
Current model validate RMSE: 0.16987508165511148

Current model train RMSE difference from baseline: 0.0003855434003970093
Current model validate RMSE difference from baseline: 0.004850119648018125

Current model RMSE difference from best model: -8.312659018572255e-06

RMSE difference train to validate: 0.004575292374718848
Current model baseline RMSE improvement: -0.22065700741596664%
Current model RMSE improvement from last model: -0.004767855336536911%

Baseline R2: 0.0
Model train  R2: 0.0023658827981120067
Model Validate R2: 0.00322978970601584