In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import env


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

import wrangle3

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [2]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle3.wrangle()

In [4]:
X_train.shape

(36384, 63)

In [3]:
X_train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_a,size_cluster_b,size_cluster_c,size_cluster_d,size_cluster_e,size_cluster_f,size_cluster_g,price_cluster_a,price_cluster_b,price_cluster_c,price_cluster_d,price_cluster_e
21580,21580,11204960,3.0,4.0,2000.0,6037.0,34.561695,-118.082751,6999.0,40227.0,3101.0,97328.0,1987.0,104877.0,131090.0,26213.0,2623.93,Los_Angeles,30.0,0.200,2.001625,0.160675,0.2,0.4,52.438500,0.2,3.745249,0.1,0.750000,0,"(-0.05, 0.05]",0.017913,0.829634,0.731775,0.333333,0.203380,0.500000,0.008825,0.213235,0.008825,0.196429,0.172850,palmdale_landcaster,f,c,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
32781,32781,14323862,6.0,6.0,7393.0,6059.0,33.601524,-117.845231,24000.0,40009.0,1286.0,96975.0,1995.0,1556016.0,2449943.0,893927.0,29921.84,Orange,22.0,0.200,1.221328,0.550964,0.4,0.9,210.471527,0.6,37.246958,0.3,1.000000,0,"(0.05, 0.2]",0.017913,0.177142,0.856593,0.833333,0.123723,0.833333,0.031010,0.154412,0.031010,0.285714,0.741252,se_coast,d,a,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0
33161,33161,12205584,2.0,3.0,1778.0,6037.0,33.966002,-118.298627,4948.0,12447.0,3101.0,96025.0,1936.0,87000.0,347000.0,260000.0,4248.21,Los_Angeles,81.0,0.600,1.224268,0.113590,0.1,0.4,48.931384,0.1,52.546483,0.4,0.666667,1,"(-0.05, 0.05]",0.017913,0.424826,0.618331,0.166667,0.124023,0.333333,0.006149,0.588235,0.006149,0.166667,0.149452,la_older,b,d,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0
45785,45785,12078527,3.0,4.0,2777.0,6037.0,34.166013,-118.218530,9989.0,45457.0,3101.0,96327.0,1990.0,322342.0,875355.0,553013.0,9603.39,Los_Angeles,27.0,0.200,1.097085,0.229316,0.2,0.6,116.075621,0.4,55.362198,0.4,0.750000,0,"(0.05, 0.2]",0.017913,0.560745,0.660422,0.333333,0.111039,0.500000,0.012727,0.191176,0.012727,0.196429,0.254743,santa_clarita,f,a,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0
45820,45820,14266520,3.0,4.0,1939.0,6059.0,33.706702,-117.898677,6028.0,47568.0,1286.0,97004.0,1971.0,139321.0,327623.0,188302.0,3923.98,Orange,46.0,0.333,1.197712,0.138384,0.1,0.4,71.851986,0.2,31.237890,0.3,0.750000,0,"(-0.05, 0.05]",0.017913,0.248617,0.828507,0.333333,0.121312,0.500000,0.007558,0.330882,0.007558,0.196429,0.166421,se_coast,f,d,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0

In [ ]:
dummy_df = pd.get_dummies(X_train[['area_cluster', 'size_cluster', 'price_cluster']], drop_first = False)
X_train = pd.concat([X_train, dummy_df], axis = 1)

In [ ]:
X_train.head()

In [ ]:
X_train.shape

We have clusters for area, size, and price.

Next, collaboratively vizualize clusters and assign english language names

## Naming Area Clusters

In [ ]:
sns.relplot(data=X_train, x='longitude', y='latitude', hue='area_cluster')

0:
1: southeast_coast
2: palmdale_lancaster
3: la_older
4: la_newer
5: northwest_coastal

In [ ]:
X_train.head()

 5: northwest_coastal
4:
3:
2: lancaster_palmdale
1: southeast_coast
0:

In [ ]:
sns.relplot(data=X_train, x='longitude', y='latitude', hue='logerror_bins', col='area_cluster', col_wrap=2)

In [ ]:
X_train.head()

In [ ]:
X_train['area_cluster'] = X_train.area_cluster.map({
    0: "santa_clarita",
    1: "se_coast",
    2: "palmdale_landcaster",
    3: "la_older",
    4: "la_newer",
    5: "northwest_costal"
})

In [ ]:
X_train.head()

In [ ]:
X_train.size_cluster.value_counts()

In [ ]:
s0=X_train[X_train['size_cluster']==0]
s1=X_train[X_train['size_cluster']==1]
s2=X_train[X_train['size_cluster']==2]
s3=X_train[X_train['size_cluster']==3]
s4=X_train[X_train['size_cluster']==4]
s5=X_train[X_train['size_cluster']==5]
s6=X_train[X_train['size_cluster']==6]

In [ ]:
p0=X_train[X_train['price_cluster']==0]
p1=X_train[X_train['price_cluster']==1]
p2=X_train[X_train['price_cluster']==2]
p3=X_train[X_train['price_cluster']==3]
p4=X_train[X_train['price_cluster']==4]
p5=X_train[X_train['price_cluster']==5]

In [ ]:
p0.taxvaluedollarcnt.describe()

In [ ]:
p1.taxvaluedollarcnt.describe()

In [ ]:
p2.taxvaluedollarcnt.describe()

In [ ]:
p3.taxvaluedollarcnt.describe()

In [ ]:
p4.taxvaluedollarcnt.describe()

In [ ]:
p5.taxvaluedollarcnt.describe()

In [ ]:
  X_train['price_cluster'] = X_train.price_cluster.map({
            0: "a",
            1: "b",
            2: "c",
            3: "d",
            4: "e",
        })

In [ ]:
X_train.head()

In [ ]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle3.wrangle()

In [ ]:
X_train.head()

In [ ]:
s0.dtypes

In [ ]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [ ]:
s0[['scaled_bathroomcnt','sqft_bin', 'acres_bin', 'bath_bed_ratio']].describe()

In [ ]:
s1[['scaled_bathroomcnt','sqft_bin', 'acres_bin', 'bath_bed_ratio']].describe()

In [ ]:
s2[['scaled_bathroomcnt','sqft_bin', 'acres_bin', 'bath_bed_ratio']].describe()

In [ ]:
s3[['scaled_bathroomcnt','sqft_bin', 'acres_bin', 'bath_bed_ratio']].describe()

In [ ]:
s1[['calculatedfinishedsquarefeet', 'acres', 'bathroomcnt']].describe()

In [ ]:
s2[['calculatedfinishedsquarefeet', 'acres', 'bathroomcnt']].describe()

In [ ]:
s3[['calculatedfinishedsquarefeet', 'acres', 'bathroomcnt']].describe()

In [ ]:
s4[['calculatedfinishedsquarefeet', 'acres', 'bathroomcnt']].describe()

In [ ]:
s5[['calculatedfinishedsquarefeet', 'acres', 'bathroomcnt']].describe()

In [ ]:
s6[['calculatedfinishedsquarefeet', 'acres', 'bathroomcnt']].describe()

In [ ]:
s0.head()

In [ ]:
X_train.county.value_counts()

In [ ]:
X_train.isna().sum().sum()

In [ ]:
df.fips.value_counts()

In [ ]:
df = wrangle2.add_county(df)

In [ ]:
df.fips.value_counts()

In [ ]:
df.county.value_counts()

In [ ]:
df = wrangle2.handle_missing_values(df)

In [ ]:
df.county.value_counts()

In [ ]:
df = wrangle2.clean(df)

In [ ]:
df.county.value_counts()