In [25]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import env


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

import wrangle3

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [26]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle3.wrangle()

In [27]:
X_train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_1250_to_1650,size_cluster_1300_to_2000,size_cluster_1500_to_1900,size_cluster_1500_to_2800,size_cluster_2300_to_4400,size_cluster_2900_to_4000,size_cluster_900_to_1200,price_cluster_144000_to_355000,price_cluster_34000_to_110000,price_cluster_420000_to_870000,price_cluster_45000_to_173000,price_cluster_69000_to_210000,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000
21580,21580,11204960,3.0,4.0,2000.0,6037.0,34.561695,-118.082751,6999.0,40227.0,3101.0,97328.0,1987.0,104877.0,131090.0,26213.0,2623.93,Los_Angeles,30.0,0.200,2.001625,0.160675,0.2,0.4,52.438500,0.2,3.745249,0.1,0.750000,0,"(-0.05, 0.05]",0.017913,0.829634,0.731775,0.333333,0.203380,0.500000,0.008825,0.213235,0.008825,0.196429,0.172850,palmdale_landcaster,1500_to_2800,69000_to_210000,1000_to_3000,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0
32781,32781,14323862,6.0,6.0,7393.0,6059.0,33.601524,-117.845231,24000.0,40009.0,1286.0,96975.0,1995.0,1556016.0,2449943.0,893927.0,29921.84,Orange,22.0,0.200,1.221328,0.550964,0.4,0.9,210.471527,0.6,37.246958,0.3,1.000000,0,"(0.05, 0.2]",0.017913,0.177142,0.856593,0.833333,0.123723,0.833333,0.031010,0.154412,0.031010,0.285714,0.741252,se_coast,2900_to_4000,420000_to_870000,16000_to_22000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0
33161,33161,12205584,2.0,3.0,1778.0,6037.0,33.966002,-118.298627,4948.0,12447.0,3101.0,96025.0,1936.0,87000.0,347000.0,260000.0,4248.21,Los_Angeles,81.0,0.600,1.224268,0.113590,0.1,0.4,48.931384,0.1,52.546483,0.4,0.666667,1,"(-0.05, 0.05]",0.017913,0.424826,0.618331,0.166667,0.124023,0.333333,0.006149,0.588235,0.006149,0.166667,0.149452,la_older,1250_to_1650,144000_to_355000,5000_to_6000,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
45785,45785,12078527,3.0,4.0,2777.0,6037.0,34.166013,-118.218530,9989.0,45457.0,3101.0,96327.0,1990.0,322342.0,875355.0,553013.0,9603.39,Los_Angeles,27.0,0.200,1.097085,0.229316,0.2,0.6,116.075621,0.4,55.362198,0.4,0.750000,0,"(0.05, 0.2]",0.017913,0.560745,0.660422,0.333333,0.111039,0.500000,0.012727,0.191176,0.012727,0.196429,0.254743,santa_clarita,1500_to_2800,420000_to_870000,8500_to_12000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1
45820,45820,14266520,3.0,4.0,1939.0,6059.0,33.706702,-117.898677,6028.0,47568.0,1286.0,97004.0,1971.0,139321.0,327623.0,188302.0,3923.98,Orange,46.0,0.333,1.197712,0.138384,0.1,0.4,71.851986,0.2,31.237890,0.3,0.750000,0,"(-0.05, 0.05]",0.017913,0.248617,0.828507,0.333333,0.121312,0.500000,0.007558,0.330882,0.007558,0.196429,0.166421,se_coast,1500_to_2800,144000_to_355000,5000_to_6000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0

In [28]:
df=X_train

In [6]:
from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Pandas backend NOT loaded
Numpy backend NOT loaded
Pyspark backend NOT loaded
Python backend loaded
Summarize dataset: 100%|██████████| 1452/1452 [02:50<00:00,  8.53it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:13<00:00, 13.44s/it]
Render HTML: 100%|██████████| 1/1 [00:28<00:00, 28.49s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  8.40it/s]

In [11]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [16]:
# importing sweetviz
import sweetviz as sv
#analyzing the dataset
train_report = sv.analyze(df)
#display the report
train_report.show_html('train.html')

Done! Use 'show' commands to display/save.   |██████████| [100%]   00:05 -> (00:00 left)

Report train.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [8]:
train.head()

,Unnamed: 0,parcelid,logerror,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline
21580,21580,11204960,-0.015033,3.0,4.0,2000.0,6037.0,34.561695,-118.082751,6999.0,40227.0,3101.0,97328.0,1987.0,104877.0,131090.0,26213.0,2623.93,Los_Angeles,30.0,0.200,2.001625,0.160675,0.2,0.4,52.438500,0.2,3.745249,0.1,0.750000,0,"(-0.05, 0.05]",0.017913
32781,32781,14323862,0.158456,6.0,6.0,7393.0,6059.0,33.601524,-117.845231,24000.0,40009.0,1286.0,96975.0,1995.0,1556016.0,2449943.0,893927.0,29921.84,Orange,22.0,0.200,1.221328,0.550964,0.4,0.9,210.471527,0.6,37.246958,0.3,1.000000,0,"(0.05, 0.2]",0.017913
33161,33161,12205584,-0.017737,2.0,3.0,1778.0,6037.0,33.966002,-118.298627,4948.0,12447.0,3101.0,96025.0,1936.0,87000.0,347000.0,260000.0,4248.21,Los_Angeles,81.0,0.600,1.224268,0.113590,0.1,0.4,48.931384,0.1,52.546483,0.4,0.666667,1,"(-0.05, 0.05]",0.017913
45785,45785,12078527,0.066846,3.0,4.0,2777.0,6037.0,34.166013,-118.218530,9989.0,45457.0,3101.0,96327.0,1990.0,322342.0,875355.0,553013.0,9603.39,Los_Angeles,27.0,0.200,1.097085,0.229316,0.2,0.6,116.075621,0.4,55.362198,0.4,0.750000,0,"(0.05, 0.2]",0.017913
45820,45820,14266520,-0.022133,3.0,4.0,1939.0,6059.0,33.706702,-117.898677,6028.0,47568.0,1286.0,97004.0,1971.0,139321.0,327623.0,188302.0,3923.98,Orange,46.0,0.333,1.197712,0.138384,0.1,0.4,71.851986,0.2,31.237890,0.3,0.750000,0,"(-0.05, 0.05]",0.017913

In [12]:
y_train

21580   -0.015033
32781    0.158456
33161   -0.017737
45785    0.066846
45820   -0.022133
           ...
14404    0.031224
1276     0.091112
34315   -0.018550
24599    0.184632
14306   -0.024806
Name: logerror, Length: 36384, dtype: float64

In [14]:
train2=X_train
train2['logerror']=y_train
train=train2

In [15]:
train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_1250_to_1650,size_cluster_1300_to_2000,size_cluster_1500_to_1900,size_cluster_1500_to_2800,size_cluster_2300_to_4400,size_cluster_2900_to_4000,size_cluster_900_to_1200,price_cluster_144000_to_355000,price_cluster_34000_to_110000,price_cluster_420000_to_870000,price_cluster_45000_to_173000,price_cluster_69000_to_210000,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000,logerror
21580,21580,11204960,3.0,4.0,2000.0,6037.0,34.561695,-118.082751,6999.0,40227.0,3101.0,97328.0,1987.0,104877.0,131090.0,26213.0,2623.93,Los_Angeles,30.0,0.200,2.001625,0.160675,0.2,0.4,52.438500,0.2,3.745249,0.1,0.750000,0,"(-0.05, 0.05]",0.017913,0.829634,0.731775,0.333333,0.203380,0.500000,0.008825,0.213235,0.008825,0.196429,0.172850,palmdale_landcaster,1500_to_2800,69000_to_210000,1000_to_3000,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0,-0.015033
32781,32781,14323862,6.0,6.0,7393.0,6059.0,33.601524,-117.845231,24000.0,40009.0,1286.0,96975.0,1995.0,1556016.0,2449943.0,893927.0,29921.84,Orange,22.0,0.200,1.221328,0.550964,0.4,0.9,210.471527,0.6,37.246958,0.3,1.000000,0,"(0.05, 0.2]",0.017913,0.177142,0.856593,0.833333,0.123723,0.833333,0.031010,0.154412,0.031010,0.285714,0.741252,se_coast,2900_to_4000,420000_to_870000,16000_to_22000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0.158456
33161,33161,12205584,2.0,3.0,1778.0,6037.0,33.966002,-118.298627,4948.0,12447.0,3101.0,96025.0,1936.0,87000.0,347000.0,260000.0,4248.21,Los_Angeles,81.0,0.600,1.224268,0.113590,0.1,0.4,48.931384,0.1,52.546483,0.4,0.666667,1,"(-0.05, 0.05]",0.017913,0.424826,0.618331,0.166667,0.124023,0.333333,0.006149,0.588235,0.006149,0.166667,0.149452,la_older,1250_to_1650,144000_to_355000,5000_to_6000,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,-0.017737
45785,45785,12078527,3.0,4.0,2777.0,6037.0,34.166013,-118.218530,9989.0,45457.0,3101.0,96327.0,1990.0,322342.0,875355.0,553013.0,9603.39,Los_Angeles,27.0,0.200,1.097085,0.229316,0.2,0.6,116.075621,0.4,55.362198,0.4,0.750000,0,"(0.05, 0.2]",0.017913,0.560745,0.660422,0.333333,0.111039,0.500000,0.012727,0.191176,0.012727,0.196429,0.254743,santa_clarita,1500_to_2800,420000_to_870000,8500_to_12000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0.066846
45820,45820,14266520,3.0,4.0,1939.0,6059.0,33.706702,-117.898677,6028.0,47568.0,1286.0,97004.0,1971.0,139321.0,327623.0,188302.0,3923.98,Orange,46.0,0.333,1.197712,0.138384,0.1,0.4,71.851986,0.2,31.237890,0.3,0.750000,0,"(-0.05, 0.05]",0.017913,0.248617,0.828507,0.333333,0.121312,0.500000,0.007558,0.330882,0.007558,0.196429,0.166421,se_coast,1500_to_2800,144000_to_355000,5000_to_6000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,-0.022133

In [ ]:
X_train.shape

In [ ]:
X_train.county.value_counts()

In [ ]:
X_train.sample(50)

In [ ]:
df = X_train

In [ ]:
# Viz distributions after outliers removed

for col in df.columns:
    sns.boxplot(df[col])
    plt.title(col)
    plt.show()

## Clustering

In [ ]:
# list of variables I will cluster on. 
cluster_vars = ['scaled_latitude', 'scaled_longitude', 'age_bin']
cluster_name = 'area_cluster'
k_range = range(2,20)

In [ ]:
def find_k(X_train, cluster_vars, k_range):
    sse = []
    for k in k_range:
        kmeans = KMeans(n_clusters=k)

        # X[0] is our X_train dataframe..the first dataframe in the list of dataframes stored in X. 
        kmeans.fit(X_train[cluster_vars])

        # inertia: Sum of squared distances of samples to their closest cluster center.
        sse.append(kmeans.inertia_) 

    # compute the difference from one k to the next
    delta = [round(sse[i] - sse[i+1],0) for i in range(len(sse)-1)]

    # compute the percent difference from one k to the next
    pct_delta = [round(((sse[i] - sse[i+1])/sse[i])*100, 1) for i in range(len(sse)-1)]

    # create a dataframe with all of our metrics to compare them across values of k: SSE, delta, pct_delta
    k_comparisons_df = pd.DataFrame(dict(k=k_range[0:-1], 
                             sse=sse[0:-1], 
                             delta=delta, 
                             pct_delta=pct_delta))

    # plot k with inertia
    plt.plot(k_comparisons_df.k, k_comparisons_df.sse, 'bx-')
    plt.xlabel('k')
    plt.ylabel('SSE')
    plt.title('The Elbow Method to find the optimal k\nFor which k values do we see large decreases in SSE?')
    plt.show()

    # plot k with pct_delta
    plt.plot(k_comparisons_df.k, k_comparisons_df.pct_delta, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Percent Change')
    plt.title('For which k values are we seeing increased changes (%) in SSE?')
    plt.show()

    # plot k with delta
    plt.plot(k_comparisons_df.k, k_comparisons_df.delta, 'bx-')
    plt.xlabel('k')
    plt.ylabel('Absolute Change in SSE')
    plt.title('For which k values are we seeing increased changes (absolute) in SSE?')
    plt.show()

    return k_comparisons_df

In [ ]:
find_k(X_train, cluster_vars, k_range)

In [ ]:
# Make 6 area clusters

k = 6
# as reminders: 
cluster_vars = ['scaled_latitude', 'scaled_longitude', 'age_bin']
cluster_name = 'area_cluster'

In [ ]:
def create_clusters(X_train, k, cluster_vars):
    # create kmean object
    kmeans = KMeans(n_clusters=k, random_state = 13)

    # fit to train and assign cluster ids to observations
    kmeans.fit(X_train[cluster_vars])

    return kmeans

In [ ]:
kmeans = create_clusters(X_train, k, cluster_vars)

In [ ]:
# get the centroids for each distinct cluster...

def get_centroids(kmeans, cluster_vars, cluster_name):
    # get the centroids for each distinct cluster...

    centroid_col_names = ['centroid_' + i for i in cluster_vars]

    centroid_df = pd.DataFrame(kmeans.cluster_centers_, 
                               columns=centroid_col_names).reset_index().rename(columns={'index': cluster_name})

    return centroid_df

In [ ]:
centroid_df = get_centroids(kmeans, cluster_vars, cluster_name)

In [17]:
#importing Autoviz class
from autoviz.AutoViz_Class import AutoViz_Class#Instantiate the AutoViz class
AV = AutoViz_Class()

Alert! from autoviz version 0.1.35, after importing, you must %matplotlib inline to display charts in Jupyter Notebooks.
    AV = AutoViz_Class()
    AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=0, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
Note: verbose=0 or 1 generates charts and displays them in your local Jupyter notebook.
      verbose=2 does not display plots but saves them in AutoViz_Plots folder in local machine.
Updated: chart_format='bokeh' generates and displays charts in your local Jupyter notebook.
      chart_format='server' generates and displays charts in the browser - one tab for each chart.
      chart_format='html' silently saves charts HTML format - they are also interactive!

XGBoostError:
XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed
    - vcomp140.dll or libgomp-1.dll for Windows
    - libomp.dylib for Mac OSX
    - libgomp.so for Linux and other UNIX-like OSes
    Mac OSX users: Run `brew install libomp` to install OpenMP runtime.

  * You are running 32-bit Python on a 64-bit OS

Error message(s): ["dlopen(/opt/homebrew/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib, 0x0006): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib\n  Referenced from: /opt/homebrew/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)"]

In [ ]:
libomp.dylib

In [24]:
from autoviz.AutoViz_Class import AutoViz_Class

XGBoostError:
XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed
    - vcomp140.dll or libgomp-1.dll for Windows
    - libomp.dylib for Mac OSX
    - libgomp.so for Linux and other UNIX-like OSes
    Mac OSX users: Run `brew install libomp` to install OpenMP runtime.

  * You are running 32-bit Python on a 64-bit OS

Error message(s): ["dlopen(/opt/homebrew/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib, 0x0006): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib\n  Referenced from: /opt/homebrew/anaconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: tried: '/usr/local/opt/libomp/lib/libomp.dylib' (no such file), '/usr/local/lib/libomp.dylib' (no such file), '/usr/lib/libomp.dylib' (no such file)"]

In [ ]:

AV = AutoViz_Class()

In [18]:
df2 = AV.AutoViz(train, depVar='logerror')

NameError: name 'AV' is not defined

In [ ]:
X_train['area_cluster'] = kmeans.predict(X_train[cluster_vars])

In [ ]:
X_validate['area_cluster'] = kmeans.predict(X_validate[cluster_vars])

In [ ]:
X_train.head()

In [ ]:
# label cluster for each observation in X_train (X[0] in our X list of dataframes), 
# X_validate (X[1]), & X_test (X[2])

def assign_clusters(kmeans, cluster_vars, cluster_name, centroid_df):
    for i in range(len(2)):
        clusters = pd.DataFrame(kmeans.predict(X[i][cluster_vars]), 
                            columns=[cluster_name], index=X[i].index)

        clusters_centroids = clusters.merge(centroid_df, on=cluster_name, copy=False).set_index(clusters.index.values)

        X_train = pd.concat([X[i], clusters_centroids], axis=1)
    return X

In [30]:
sns.scatterplot(data=X_train, x='longitude', y='latitude', hue='area_cluster');

In [31]:
import gmaps
import gmaps.datasets

In [32]:
gmaps.configure(api_key="AIzaSyDlW6BYId6BmIp-mmA_lY_xNiQOKabd-2Q")

In [34]:
X_train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_1250_to_1650,size_cluster_1300_to_2000,size_cluster_1500_to_1900,size_cluster_1500_to_2800,size_cluster_2300_to_4400,size_cluster_2900_to_4000,size_cluster_900_to_1200,price_cluster_144000_to_355000,price_cluster_34000_to_110000,price_cluster_420000_to_870000,price_cluster_45000_to_173000,price_cluster_69000_to_210000,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000
21580,21580,11204960,3.0,4.0,2000.0,6037.0,34.561695,-118.082751,6999.0,40227.0,3101.0,97328.0,1987.0,104877.0,131090.0,26213.0,2623.93,Los_Angeles,30.0,0.200,2.001625,0.160675,0.2,0.4,52.438500,0.2,3.745249,0.1,0.750000,0,"(-0.05, 0.05]",0.017913,0.829634,0.731775,0.333333,0.203380,0.500000,0.008825,0.213235,0.008825,0.196429,0.172850,palmdale_landcaster,1500_to_2800,69000_to_210000,1000_to_3000,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,0
32781,32781,14323862,6.0,6.0,7393.0,6059.0,33.601524,-117.845231,24000.0,40009.0,1286.0,96975.0,1995.0,1556016.0,2449943.0,893927.0,29921.84,Orange,22.0,0.200,1.221328,0.550964,0.4,0.9,210.471527,0.6,37.246958,0.3,1.000000,0,"(0.05, 0.2]",0.017913,0.177142,0.856593,0.833333,0.123723,0.833333,0.031010,0.154412,0.031010,0.285714,0.741252,se_coast,2900_to_4000,420000_to_870000,16000_to_22000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0
33161,33161,12205584,2.0,3.0,1778.0,6037.0,33.966002,-118.298627,4948.0,12447.0,3101.0,96025.0,1936.0,87000.0,347000.0,260000.0,4248.21,Los_Angeles,81.0,0.600,1.224268,0.113590,0.1,0.4,48.931384,0.1,52.546483,0.4,0.666667,1,"(-0.05, 0.05]",0.017913,0.424826,0.618331,0.166667,0.124023,0.333333,0.006149,0.588235,0.006149,0.166667,0.149452,la_older,1250_to_1650,144000_to_355000,5000_to_6000,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
45785,45785,12078527,3.0,4.0,2777.0,6037.0,34.166013,-118.218530,9989.0,45457.0,3101.0,96327.0,1990.0,322342.0,875355.0,553013.0,9603.39,Los_Angeles,27.0,0.200,1.097085,0.229316,0.2,0.6,116.075621,0.4,55.362198,0.4,0.750000,0,"(0.05, 0.2]",0.017913,0.560745,0.660422,0.333333,0.111039,0.500000,0.012727,0.191176,0.012727,0.196429,0.254743,santa_clarita,1500_to_2800,420000_to_870000,8500_to_12000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1
45820,45820,14266520,3.0,4.0,1939.0,6059.0,33.706702,-117.898677,6028.0,47568.0,1286.0,97004.0,1971.0,139321.0,327623.0,188302.0,3923.98,Orange,46.0,0.333,1.197712,0.138384,0.1,0.4,71.851986,0.2,31.237890,0.3,0.750000,0,"(-0.05, 0.05]",0.017913,0.248617,0.828507,0.333333,0.121312,0.500000,0.007558,0.330882,0.007558,0.196429,0.166421,se_coast,1500_to_2800,144000_to_355000,5000_to_6000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0

In [33]:
fig = gmaps.figure()
sns.scatterplot(data=X_train, x='longitude', y='latitude', hue='area_cluster')
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
import gmaps
gmaps.configure(api_key='AI...')

fig = gmaps.figure(map_type='SATELLITE')

# generate some (latitude, longitude) pairs
locations = [(51.5, 0.1), (51.7, 0.2), (51.4, -0.2), (51.49, 0.1)]

heatmap_layer = gmaps.heatmap_layer(locations)
fig.add_layer(heatmap_layer)

In [36]:
c0=X_train[X_train['area_cluster']==0]
c1=X_train[X_train['area_cluster']==1]
c2=X_train[X_train['area_cluster']==2]
c3=X_train[X_train['area_cluster']==3]
c4=X_train[X_train['area_cluster']==4]
c5=X_train[X_train['area_cluster']==5]

In [ ]:
locations0=c0[['latitude', 'longitude']]
locations1=c1[['latitude', 'longitude']]
locations2=c2[['latitude', 'longitude']]
locations3=c3[['latitude', 'longitude']]
locations4=c4[['latitude', 'longitude']]
locations5=c5[['latitude', 'longitude']]

In [35]:
#weights=X_train['area_cluster']
fig = gmaps.figure(map_type='ROADMAP')
markers=gmaps.marker_layer(locations0)
#fig.add_layer(markers)
fig.add_layer(gmaps.heatmap_layer(locations))
fig

NameError: name 'locations0' is not defined

In [ ]:
#weights=X_train['area_cluster']
fig = gmaps.figure(map_type='ROADMAP')
markers=gmaps.marker_layer(locations1)
#fig.add_layer(markers)
fig.add_layer(gmaps.heatmap_layer(locations))
fig

In [ ]:
#weights=X_train['area_cluster']
fig = gmaps.figure(map_type='ROADMAP')
markers=gmaps.marker_layer(locations5)


#fig.add_layer(markers)
fig.add_layer(gmaps.heatmap_layer(locations))
fig

In [ ]:
#weights=X_train['area_cluster']
fig = gmaps.figure(map_type='ROADMAP')
markers=gmaps.marker_layer(locations0)
#fig.add_layer(markers)
fig.add_layer(gmaps.heatmap_layer(locations))
fig

In [ ]:
locations2 = locations.to_records(index=False)
markers = list(locations2)

In [ ]:
fig

In [ ]:
locations=X_train[['latitude', 'longitude']]
weights=X_train['area_cluster']
fig = gmaps.figure(map_type='ROADMAP')
markers=gmaps.marker_layer(locations)
fig.add_layer(markers)
#fig.add_layer(gmaps.heatmap_layer(locations))
fig

In [ ]:
fig

## Things to do

-[] Want to incorporate coastline / beach proximity to location data
-[] Look at map viz integration
-[] Area clusters
-[] Brainstorm other useful clusters
-[] Start building models with limited features
-[]

### Size Clusters

In [ ]:
cluster_vars = ['scaled_bathroomcnt', 'sqft_bin', 'acres_bin', 'bath_bed_ratio']
cluster_name = 'size_cluster'
k_range = range(2,20)

find_k(X_train, cluster_vars, k_range)

K=7

In [ ]:
k=7
cluster_name = 'size_cluster'
cluster_vars = ['scaled_bathroomcnt', 'sqft_bin', 'acres_bin', 'bath_bed_ratio']

# fit kmeans 
kmeans = create_clusters(X_train, k, cluster_vars)

# get centroid values per variable per cluster
centroid_df = get_centroids(kmeans, cluster_vars, cluster_name)

# get cluster assignments and append those with centroids for each X partition (train, validate, test)
#X = assign_clusters(kmeans, cluster_vars, cluster_name, centroid_df)

In [ ]:
X_train['size_cluster'] = kmeans.predict(X_train[cluster_vars])

In [ ]:
X_validate['size_cluster'] = kmeans.predict(X_validate[cluster_vars])

In [ ]:
X_train.head()

Price Clusters

In [ ]:
cluster_vars = ['taxrate', 'structure_dollar_sqft_bin', 'lot_dollar_sqft_bin']
cluster_name = 'price_cluster'
k_range = range(2,20)

find_k(X_train, cluster_vars, k_range)

In [ ]:
k=5
cluster_name = 'price_cluster'
cluster_vars = ['taxrate', 'structure_dollar_sqft_bin', 'lot_dollar_sqft_bin']

# fit kmeans 
kmeans = create_clusters(X_train, k, cluster_vars)

# get centroid values per variable per cluster
centroid_df = get_centroids(kmeans, cluster_vars, cluster_name)

In [ ]:
X_train['price_cluster'] = kmeans.predict(X_train[cluster_vars])

In [ ]:
X_validate['price_cluster'] = kmeans.predict(X_validate[cluster_vars])

In [ ]:
X_train.head()

## Tax clusters

columns = ['taxamount', 'taxvaluedollarcnt', 'structuretaxvaluedollarcnt', 'landtaxvaluedollarcnt']

In [ ]:
cluster_vars = ['taxamount', 'taxvaluedollarcnt', 'structuretaxvaluedollarcnt', 'landtaxvaluedollarcnt']
cluster_name = 'tax_cluster'
k_range = range(2,20)

find_k(X_train, cluster_vars, k_range)

In [ ]:
k=5
cluster_name = 'tax_cluster'
cluster_vars = ['taxamount', 'taxvaluedollarcnt', 'structuretaxvaluedollarcnt', 'landtaxvaluedollarcnt']

# fit kmeans 
kmeans = create_clusters(X_train, k, cluster_vars)
kmeans = create_clusters(X_validate, k, cluster_vars)

# get centroid values per variable per cluster
centroid_df = get_centroids(kmeans, cluster_vars, cluster_name)

In [ ]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle3.wrangle()

In [ ]:
X_train.head()

In [ ]:
X_train['tax_cluster'] = kmeans.predict(X_train[cluster_vars])
X_validate['tax_cluster'] = kmeans.predict(X_validate[cluster_vars])

In [ ]:
X_train.head()

In [ ]:
X_train.tax_cluster.value_counts()

In [ ]:
t0 =X_train[X_train['tax_cluster']==0]
t1 =X_train[X_train['tax_cluster']==1]
t2 =X_train[X_train['tax_cluster']==2]
t3 =X_train[X_train['tax_cluster']==3]
t4 =X_train[X_train['tax_cluster']==4]
t5 =X_train[X_train['tax_cluster']==5]

In [ ]:
t0.describe()

In [ ]:
sns.relplot(data=X_train, x='longitude', y='latitude', hue='tax_cluster', alpha =0.2);

In [ ]:
# Plot prices for plot clusters
fig, axes = plt.subplots(3,2, sharex=False, figsize=(20, 25))
fig.suptitle('Tax amount by Tax Cluster')
#axes[0].set_title('All clusters together')
#axes[1].set_title('Cluster a')
#axes[2].set_title('Cluster b')
#axes[3].set_title('Cluster c')
#axes[4].set_title('Cluster d')
#axes[5].set_title('Cluster e')
sns.histplot(data=t0, x='taxamount', alpha=0.5, color='red', ax=axes[0,0])
sns.histplot(data=t1, x='taxamount', alpha=0.5, color='orange', ax=axes[0,0])
sns.histplot(data=t2, x='taxamount', alpha=0.5, color='yellow', ax=axes[0,0])
sns.histplot(data=t3, x='taxamount', alpha=0.5, color='green', ax=axes[0,0])
sns.histplot(data=t4, x='taxamount', alpha=0.5, color='blue', ax=axes[0,0])
axes[0,0].ticklabel_format(style='plain')
axes[0,0].set_title('Tax clusters superimposed')
axes[0,1].ticklabel_format(style='plain')
axes[0,1].set_title('Cluster 0')
axes[1,0].ticklabel_format(style='plain')
axes[1,0].set_title('Cluster 1')
axes[1,1].ticklabel_format(style='plain')
axes[1,1].set_title('Cluster 2')
axes[2,0].ticklabel_format(style='plain')
axes[2,0].set_title('Cluster 3')
axes[2,1].ticklabel_format(style='plain')
axes[2,1].set_title('Cluster 4')

sns.histplot(data=t0, x='taxamount', alpha=0.5, color='red', ax=axes[0,1])
sns.histplot(data=t1, x='taxamount', alpha=0.5, color='orange', ax=axes[1,0])
sns.histplot(data=t2, x='taxamount', alpha=0.5, color='yellow', ax=axes[1,1])
sns.histplot(data=t3, x='taxamount', alpha=0.5, color='green', ax=axes[2,0])
sns.histplot(data=t4, x='taxamount', alpha=0.5, color='blue', ax=axes[2,1])

plt.ticklabel_format(style='plain')

plt.show()

In [ ]:
t4.taxamount.describe()

In [ ]:
X_train['tax_cluster'] = X_train.tax_cluster.map({
        0: "1000_to_3000",
        1: "30000_to_40000",
        2: "8500_to_12000",
        3: "16000_to_22000",
        4: "5000_to_6000",
    })

X_validate['tax_cluster'] = X_validate.tax_cluster.map({
        0: "1000_to_3000",
        1: "30000_to_40000",
        2: "8500_to_12000",
        3: "16000_to_22000",
        4: "5000_to_6000",
    })

In [ ]:
X_train.head()

In [ ]:
p0