In [1]:
##IMPORTS

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

#Modeling Tools
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import statsmodels.api as sm
from statsmodels.formula.api import ols

from datetime import date
from scipy import stats


#Custom functions
from env import host, user, password #Database credentials
import wrangle4
import env
import eval_model
import explore2
import model
## Evaluation tools
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

NumExpr defaulting to 8 threads.

In [2]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle4.wrangle()

In [3]:
df=train

In [4]:
import lux

In [5]:
df

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_1250_to_1650,size_cluster_1300_to_2000,size_cluster_1500_to_1900,size_cluster_1500_to_2800,size_cluster_2300_to_4400,size_cluster_2900_to_4000,size_cluster_900_to_1200,price_cluster_144000_to_355000,price_cluster_34000_to_110000,price_cluster_420000_to_870000,price_cluster_45000_to_173000,price_cluster_69000_to_210000,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000,logerror
21580,21580,11204960,3.00000,4.00000,2000.00000,6037.00000,34.56170,-118.08275,6999.00000,40227.00000,3101.00000,97328.00000,1987.00000,104877.00000,131090.00000,26213.00000,2623.93000,Los_Angeles,30.00000,0.20000,2.00162,0.16067,0.20000,0.40000,52.43850,0.20000,3.74525,0.10000,0.75000,0,"(-0.05, 0.05]",0.01791,0.82963,0.73177,0.33333,0.20338,0.50000,0.00883,0.21324,0.00883,0.19643,0.17285,palmdale_landcaster,1500_to_2800,69000_to_210000,8500_to_12000,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,-0.01503
32781,32781,14323862,6.00000,6.00000,7393.00000,6059.00000,33.60152,-117.84523,24000.00000,40009.00000,1286.00000,96975.00000,1995.00000,1556016.00000,2449943.00000,893927.00000,29921.84000,Orange,22.00000,0.20000,1.22133,0.55096,0.40000,0.90000,210.47153,0.60000,37.24696,0.30000,1.00000,0,"(0.05, 0.2]",0.01791,0.17714,0.85659,0.83333,0.12372,0.83333,0.03101,0.15441,0.03101,0.28571,0.74125,se_coast,2900_to_4000,420000_to_870000,30000_to_40000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0.15846
33161,33161,12205584,2.00000,3.00000,1778.00000,6037.00000,33.96600,-118.29863,4948.00000,12447.00000,3101.00000,96025.00000,1936.00000,87000.00000,347000.00000,260000.00000,4248.21000,Los_Angeles,81.00000,0.60000,1.22427,0.11359,0.10000,0.40000,48.93138,0.10000,52.54648,0.40000,0.66667,1,"(-0.05, 0.05]",0.01791,0.42483,0.61833,0.16667,0.12402,0.33333,0.00615,0.58824,0.00615,0.16667,0.14945,la_older,1250_to_1650,144000_to_355000,1000_to_3000,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,-0.01774
45785,45785,12078527,3.00000,4.00000,2777.00000,6037.00000,34.16601,-118.21853,9989.00000,45457.00000,3101.00000,96327.00000,1990.00000,322342.00000,875355.00000,553013.00000,9603.39000,Los_Angeles,27.00000,0.20000,1.09709,0.22932,0.20000,0.60000,116.07562,0.40000,55.36220,0.40000,0.75000,0,"(0.05, 0.2]",0.01791,0.56074,0.66042,0.33333,0.11104,0.50000,0.01273,0.19118,0.01273,0.19643,0.25474,santa_clarita,1500_to_2800,420000_to_870000,16000_to_22000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0.06685
45820,45820,14266520,3.00000,4.00000,1939.00000,6059.00000,33.70670,-117.89868,6028.00000,47568.00000,1286.00000,97004.00000,1971.00000,139321.00000,327623.00000,188302.00000,3923.98000,Orange,46.00000,0.33300,1.19771,0.13838,0.10000,0.40000,71.85199,0.20000,31.23789,0.30000,0.75000,0,"(-0.05, 0.05]",0.01791,0.24862,0.82851,0.33333,0.12131,0.50000,0.00756,0.33088,0.00756,0.19643,0.16642,se_coast,1500_to_2800,144000_to_355000,1000_to_3000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,-0.02213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,14404,14381694,2.50000,4.00000,2174.00000,6059.00000,33.59358,-117.68559,7800.00000,25458.00000,1286.00000,96971.00000,1969.00000,76517.00000,99623.00000,23106.00000,973.08000,Orange,48.00000,0.33300,0.97676,0.17906,0.20000,0.50000,35.19641,0.10000,2.96231,0.10000,0.62500,0,"(-0.05, 0.05]",0.01791,0.17174,0.94048,0.25000,0.09876,0.50000,0.00987,0.34559,0.00987,0.15179,0.19119,se_coast,1500_to_2800,144000_to_355000,8500_to_12000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0.03122
1276,1276,11480628,2.00000,4.00000,1560.00000,6037.00000,33.92023,-118.36579,5002.00000,42150.00000,3101.00000,96107.00000,1944.00000,82756.00000,275873.00000,193117.00000,3875.59000,Los_Angeles,73.00000,0.53300,1.40485,0.11483,0.10000,0.40000,53.04872,0.20000,38.60796,0.30000,0.50000,0,"(0.05, 0.2]",0.01791,0.39372,0.58304,0.16667,0.14246,0.50000,0.00622,0.52941,0.00622,0.10714,0.12648,la_older,1500_to_1900,144000_to_355000,8500_to_12000,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0.09111
34315,34315,11495480,2.00000,3.00000,1881.00000,6037.00000,33.86284,-118.38331,2506.00000,33612.00000,3101.00000,96124.00000,1980.00000,191857.00000,959303.00000,767446.00000,11353.66000,Los_Angeles,37.00000,0.26600,1.18353,0.05753,0.00000,0.40000,101.99734,0.40000,306.24342,0.60000,0.66667,0,"(-0.05, 0.05]",0.01791,0.35472,0.57383,0.16667,0.11986,0.33333,0.00296,0.26471,0.00296,0.16667,0.16031,la_newer,1250_to_1650,420000_to_870000,16000_to_22000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,-0.01855
24599,24599,14275460,1.00000,2.00000,721.00000,6059.00000,33.61760,-117.92995,4050.00000,53571.00000,1286.00000,96981.00000,1939.00000,18492.00000,101605.00000,83113.00000,1413.64000,Orange,78.00000,0.53300,1.39131,0.09298,0.00000,0.00000,25.64771,0.10000,20.52173,0.30000,0.50000,0,"(0.05, 0.2]",0.01791,0.18807,0.81207,0.00000,0.14108,0.16667,0.00498,0.56618,0.00498,0.10714,0.03805,la_newer,900_to_1200,144000_to_355000,8500_to_12000,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0.18463
14306,14306,13031391,2.00000,4.00000,2579.00000,6037.00000,34.14443,-117.87407,12569.00000,11626.00000,3101.00000,96486.00000,1976.00000,345875.00000,714211.00000,368336.00000,8406.94000,Los_Angeles,41.00000,0.33300,1.17709,0.28854,0.30000,0.60000,134.11206,0.40000,29.30512,0.30000,0.50000,0,"(-0.05, 0.05]",0.01791,0.54608,0.84144,0.16667,0.11921,0.50000,0.01609,0.29412,0.01609,0.10714,0.23387,la_newer,1500_to_1900,420000_to_870000,16000_to_22000,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,-0.02481

In [7]:
df.intent =['logerror']
df

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_1250_to_1650,size_cluster_1300_to_2000,size_cluster_1500_to_1900,size_cluster_1500_to_2800,size_cluster_2300_to_4400,size_cluster_2900_to_4000,size_cluster_900_to_1200,price_cluster_144000_to_355000,price_cluster_34000_to_110000,price_cluster_420000_to_870000,price_cluster_45000_to_173000,price_cluster_69000_to_210000,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000,logerror
21580,21580,11204960,3.00000,4.00000,2000.00000,6037.00000,34.56170,-118.08275,6999.00000,40227.00000,3101.00000,97328.00000,1987.00000,104877.00000,131090.00000,26213.00000,2623.93000,Los_Angeles,30.00000,0.20000,2.00162,0.16067,0.20000,0.40000,52.43850,0.20000,3.74525,0.10000,0.75000,0,"(-0.05, 0.05]",0.01791,0.82963,0.73177,0.33333,0.20338,0.50000,0.00883,0.21324,0.00883,0.19643,0.17285,palmdale_landcaster,1500_to_2800,69000_to_210000,8500_to_12000,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,-0.01503
32781,32781,14323862,6.00000,6.00000,7393.00000,6059.00000,33.60152,-117.84523,24000.00000,40009.00000,1286.00000,96975.00000,1995.00000,1556016.00000,2449943.00000,893927.00000,29921.84000,Orange,22.00000,0.20000,1.22133,0.55096,0.40000,0.90000,210.47153,0.60000,37.24696,0.30000,1.00000,0,"(0.05, 0.2]",0.01791,0.17714,0.85659,0.83333,0.12372,0.83333,0.03101,0.15441,0.03101,0.28571,0.74125,se_coast,2900_to_4000,420000_to_870000,30000_to_40000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0.15846
33161,33161,12205584,2.00000,3.00000,1778.00000,6037.00000,33.96600,-118.29863,4948.00000,12447.00000,3101.00000,96025.00000,1936.00000,87000.00000,347000.00000,260000.00000,4248.21000,Los_Angeles,81.00000,0.60000,1.22427,0.11359,0.10000,0.40000,48.93138,0.10000,52.54648,0.40000,0.66667,1,"(-0.05, 0.05]",0.01791,0.42483,0.61833,0.16667,0.12402,0.33333,0.00615,0.58824,0.00615,0.16667,0.14945,la_older,1250_to_1650,144000_to_355000,1000_to_3000,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,-0.01774
45785,45785,12078527,3.00000,4.00000,2777.00000,6037.00000,34.16601,-118.21853,9989.00000,45457.00000,3101.00000,96327.00000,1990.00000,322342.00000,875355.00000,553013.00000,9603.39000,Los_Angeles,27.00000,0.20000,1.09709,0.22932,0.20000,0.60000,116.07562,0.40000,55.36220,0.40000,0.75000,0,"(0.05, 0.2]",0.01791,0.56074,0.66042,0.33333,0.11104,0.50000,0.01273,0.19118,0.01273,0.19643,0.25474,santa_clarita,1500_to_2800,420000_to_870000,16000_to_22000,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0.06685
45820,45820,14266520,3.00000,4.00000,1939.00000,6059.00000,33.70670,-117.89868,6028.00000,47568.00000,1286.00000,97004.00000,1971.00000,139321.00000,327623.00000,188302.00000,3923.98000,Orange,46.00000,0.33300,1.19771,0.13838,0.10000,0.40000,71.85199,0.20000,31.23789,0.30000,0.75000,0,"(-0.05, 0.05]",0.01791,0.24862,0.82851,0.33333,0.12131,0.50000,0.00756,0.33088,0.00756,0.19643,0.16642,se_coast,1500_to_2800,144000_to_355000,1000_to_3000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,-0.02213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14404,14404,14381694,2.50000,4.00000,2174.00000,6059.00000,33.59358,-117.68559,7800.00000,25458.00000,1286.00000,96971.00000,1969.00000,76517.00000,99623.00000,23106.00000,973.08000,Orange,48.00000,0.33300,0.97676,0.17906,0.20000,0.50000,35.19641,0.10000,2.96231,0.10000,0.62500,0,"(-0.05, 0.05]",0.01791,0.17174,0.94048,0.25000,0.09876,0.50000,0.00987,0.34559,0.00987,0.15179,0.19119,se_coast,1500_to_2800,144000_to_355000,8500_to_12000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0.03122
1276,1276,11480628,2.00000,4.00000,1560.00000,6037.00000,33.92023,-118.36579,5002.00000,42150.00000,3101.00000,96107.00000,1944.00000,82756.00000,275873.00000,193117.00000,3875.59000,Los_Angeles,73.00000,0.53300,1.40485,0.11483,0.10000,0.40000,53.04872,0.20000,38.60796,0.30000,0.50000,0,"(0.05, 0.2]",0.01791,0.39372,0.58304,0.16667,0.14246,0.50000,0.00622,0.52941,0.00622,0.10714,0.12648,la_older,1500_to_1900,144000_to_355000,8500_to_12000,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0.09111
34315,34315,11495480,2.00000,3.00000,1881.00000,6037.00000,33.86284,-118.38331,2506.00000,33612.00000,3101.00000,96124.00000,1980.00000,191857.00000,959303.00000,767446.00000,11353.66000,Los_Angeles,37.00000,0.26600,1.18353,0.05753,0.00000,0.40000,101.99734,0.40000,306.24342,0.60000,0.66667,0,"(-0.05, 0.05]",0.01791,0.35472,0.57383,0.16667,0.11986,0.33333,0.00296,0.26471,0.00296,0.16667,0.16031,la_newer,1250_to_1650,420000_to_870000,16000_to_22000,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,-0.01855
24599,24599,14275460,1.00000,2.00000,721.00000,6059.00000,33.61760,-117.92995,4050.00000,53571.00000,1286.00000,96981.00000,1939.00000,18492.00000,101605.00000,83113.00000,1413.64000,Orange,78.00000,0.53300,1.39131,0.09298,0.00000,0.00000,25.64771,0.10000,20.52173,0.30000,0.50000,0,"(0.05, 0.2]",0.01791,0.18807,0.81207,0.00000,0.14108,0.16667,0.00498,0.56618,0.00498,0.10714,0.03805,la_newer,900_to_1200,144000_to_355000,8500_to_12000,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0.18463
14306,14306,13031391,2.00000,4.00000,2579.00000,6037.00000,34.14443,-117.87407,12569.00000,11626.00000,3101.00000,96486.00000,1976.00000,345875.00000,714211.00000,368336.00000,8406.94000,Los_Angeles,41.00000,0.33300,1.17709,0.28854,0.30000,0.60000,134.11206,0.40000,29.30512,0.30000,0.50000,0,"(-0.05, 0.05]",0.01791,0.54608,0.84144,0.16667,0.11921,0.50000,0.01609,0.29412,0.01609,0.10714,0.23387,la_newer,1500_to_1900,420000_to_870000,16000_to_22000,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,-0.02481

In [8]:
from lux.vis.Vis import Vis

In [ ]:
Vis(["Region=New England","MedianEarnings"],df)