# Finding Zestimate erros
 by Jared Godar and Daniel Northcutt

# Goals:
  - Work through datascience pipline for zillow data, documenting the process
  - Use clustering and regression modeling to beat the baseline model
  - Find the drivers for logerror in the Zestimate model

# Clustering

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

#Modeling Tools
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import statsmodels.api as sm
from statsmodels.formula.api import ols

from datetime import date
from scipy import stats


#Custom functions
from env import host, user, password #Database credentials

import wrangle3
import env
import eval_model
## Evaluation tools
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from math import sqrt

In [2]:
train, X_train, y_train, X_validate, y_validate, X_test, y_test=wrangle3.wrangle()

In [3]:
X_train.head()

,Unnamed: 0,parcelid,bathroomcnt,bedroomcnt,calculatedfinishedsquarefeet,fips,latitude,longitude,lotsizesquarefeet,regionidcity,regionidcounty,regionidzip,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,landtaxvaluedollarcnt,taxamount,county,age,age_bin,taxrate,acres,acres_bin,sqft_bin,structure_dollar_per_sqft,structure_dollar_sqft_bin,land_dollar_per_sqft,lot_dollar_sqft_bin,bath_bed_ratio,cola,logerror_bins,baseline,scaled_latitude,scaled_longitude,scaled_bathroomcnt,scaled_taxrate,scaled_bedroomcnt,scaled_lotsizesquarefeet,scaled_age,scaled_acres,scaled_bath_bed_ratio,scaled_calculatedfinishedsquarefeet,area_cluster,size_cluster,price_cluster,tax_cluster,area_cluster_la_newer,area_cluster_la_older,area_cluster_northwest_costal,area_cluster_palmdale_landcaster,area_cluster_santa_clarita,area_cluster_se_coast,size_cluster_a,size_cluster_b,size_cluster_c,size_cluster_d,size_cluster_e,size_cluster_f,size_cluster_g,price_cluster_a,price_cluster_b,price_cluster_c,price_cluster_d,price_cluster_e,tax_cluster_1000_to_3000,tax_cluster_16000_to_22000,tax_cluster_30000_to_40000,tax_cluster_5000_to_6000,tax_cluster_8500_to_12000
21580,21580,11204960,3.0,4.0,2000.0,6037.0,34.561695,-118.082751,6999.0,40227.0,3101.0,97328.0,1987.0,104877.0,131090.0,26213.0,2623.93,Los_Angeles,30.0,0.200,2.001625,0.160675,0.2,0.4,52.438500,0.2,3.745249,0.1,0.750000,0,"(-0.05, 0.05]",0.017913,0.829634,0.731775,0.333333,0.203380,0.500000,0.008825,0.213235,0.008825,0.196429,0.172850,palmdale_landcaster,f,c,1000_to_3000,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0,0
32781,32781,14323862,6.0,6.0,7393.0,6059.0,33.601524,-117.845231,24000.0,40009.0,1286.0,96975.0,1995.0,1556016.0,2449943.0,893927.0,29921.84,Orange,22.0,0.200,1.221328,0.550964,0.4,0.9,210.471527,0.6,37.246958,0.3,1.000000,0,"(0.05, 0.2]",0.017913,0.177142,0.856593,0.833333,0.123723,0.833333,0.031010,0.154412,0.031010,0.285714,0.741252,se_coast,d,a,5000_to_6000,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
33161,33161,12205584,2.0,3.0,1778.0,6037.0,33.966002,-118.298627,4948.0,12447.0,3101.0,96025.0,1936.0,87000.0,347000.0,260000.0,4248.21,Los_Angeles,81.0,0.600,1.224268,0.113590,0.1,0.4,48.931384,0.1,52.546483,0.4,0.666667,1,"(-0.05, 0.05]",0.017913,0.424826,0.618331,0.166667,0.124023,0.333333,0.006149,0.588235,0.006149,0.166667,0.149452,la_older,b,d,16000_to_22000,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
45785,45785,12078527,3.0,4.0,2777.0,6037.0,34.166013,-118.218530,9989.0,45457.0,3101.0,96327.0,1990.0,322342.0,875355.0,553013.0,9603.39,Los_Angeles,27.0,0.200,1.097085,0.229316,0.2,0.6,116.075621,0.4,55.362198,0.4,0.750000,0,"(0.05, 0.2]",0.017913,0.560745,0.660422,0.333333,0.111039,0.500000,0.012727,0.191176,0.012727,0.196429,0.254743,santa_clarita,f,a,8500_to_12000,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1
45820,45820,14266520,3.0,4.0,1939.0,6059.0,33.706702,-117.898677,6028.0,47568.0,1286.0,97004.0,1971.0,139321.0,327623.0,188302.0,3923.98,Orange,46.0,0.333,1.197712,0.138384,0.1,0.4,71.851986,0.2,31.237890,0.3,0.750000,0,"(-0.05, 0.05]",0.017913,0.248617,0.828507,0.333333,0.121312,0.500000,0.007558,0.330882,0.007558,0.196429,0.166421,se_coast,f,d,16000_to_22000,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0

In [ ]:
train2 = X_train
train2['log_error']=y_train
train=train2

In [ ]:
# Create Model
ols_model1 = ols(formula='log_error ~ area_cluster_la_newer + area_cluster_la_older + area_cluster_northwest_costal + area_cluster_palmdale_landcaster + area_cluster_santa_clarita + area_cluster_se_coast + size_cluster_a + size_cluster_b + size_cluster_c + size_cluster_d + size_cluster_e + size_cluster_f + size_cluster_g + price_cluster_a + price_cluster_b + price_cluster_c + price_cluster_d + price_cluster_e', data=train).fit()

# Make predictions
ols_yhat = ols_model1.predict(X_train)
X_train['mvp_prdictions']=ols_yhat

#  DataFrame for evaluating model 
ols_eval = y_train.copy()
validate_eval = y_validate.copy()
ols_eval = pd.DataFrame(ols_eval)
validate_eval = pd.DataFrame(validate_eval)
ols_eval.rename(columns={'logerror': 'actual'}, inplace=True)
validate_eval.rename(columns={'logerror': 'actual'}, inplace=True)
validate_eval['ols_yhat'] = ols_model1.predict(X_validate)


# Add baseline - median home value
ols_eval['baseline_yhat'] = ols_eval['actual'].mean()
validate_eval['baseline_yhat'] = ols_eval['actual'].mean()
validate_eval['ols_yhat'] = ols_model1.predict(X_validate)

#  Compute the RMSE  and R2 for  ols model and baseline 
baseline_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.baseline_yhat)))
ols_RMSE = (sqrt(mean_squared_error(ols_eval.actual, ols_eval.ols_yhat)))

pct_change=round(((ols_RMSE-baseline_RMSE)/baseline_RMSE)*100, 2)
rmse_validate = (sqrt(mean_squared_error(validate_eval.actual, validate_eval.ols_yhat)))
baseline_r2 = (r2_score(ols_eval.actual, ols_eval.baseline_yhat))
ols_train_r2 = (r2_score(ols_eval.actual, ols_eval.ols_yhat))
ols_validate_r2 = (r2_score(validate_eval.actual, validate_eval.ols_yhat))

#Output Findings

print(f'My model has value: {ols_RMSE < baseline_RMSE}')
print()
print(f'Baseline RMSE: {baseline_RMSE}')
print(f'My model train RMSE: {ols_RMSE}')
print(f'My model validate RMSE: {rmse_validate}')
print(f'RMSE difference baseline to model train: {baseline_RMSE- ols_RMSE}')
print(f'RMSE difference baseline to model validate: {baseline_RMSE- rmse_validate}')
print(f'RMSE difference train to validate: {ols_RMSE- rmse_validate}')
print(f'RMSE improvement: {pct_change}%')
print()
print(f'Baseline R2: {baseline_r2}')
print(f'Model train  R2: {ols_train_r2}')
print(f'Model Validate R2: {ols_validate_r2}')

In [ ]:
y_train = pd.DataFrame(y_train)

In [ ]:
ols_yhat = pd.DataFrame(ols_yhat)
ols_yhat